<a {% if not is_send %}href="javascript:void(0);"{% endif %}
    data-id="{{ object_id }}" data-type="{{ type.gid }}"
    id="mark-as-span-{{ rand }}" class="fright link-r-margin"
    title="{% helper lang.l('btn_mark_as_spam', 'spam', '', 'button') %}">
    <ins class="fa fa-flag-o fa-lg edge hover {% if is_send %}g{% endif %}"></ins>
</a>
<script>
    loadScripts(
        "{% helper utils.jscript('spam', 'spam.js', 'path') %}",
        function(){
            spam = new Spam({
                siteUrl: '{{ site_root }}',
                use_form: {% if type.form_type != 'checkbox' %}true{% else %}false{% endif %},
                {% if is_spam_owner is not empty %}isOwner: true,{% endif %}
                is_send: '{{ is_send }}',
                error_is_send: '{% spaceless %}
                    {% if is_guest %}
                        ajax_login_link
                    {% else %}
                        {% helper lang.l('error_is_send_' ~ type.gid, 'spam', '', 'js') %}
                    {% endif %}
                {% endspaceless %}',
                mark_as_spam_btn: 'mark-as-span-{{ rand }}',
                mark_as_spam_link: 'mark-as-spam-{{ rand }}',
            });
        },
        ''
    );
</script>
