{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <table id="users" class="table table-striped responsive-utilities jambo_table">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Name</th>
                        <th class="column-title">Status</th>
                        <th class="column-title">Install</th>
                        <th class="column-title">Uninstall</th>
                        <th class="column-title">Export</th>
                        <th class="column-title">Update</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, lang in langs %}
                    <tr>
                        <td>
                            {% if lang.is_default %}<b>{{ lang.name }} (default)</b>{% else %}{{ lang.name }}{% endif %}
                        </td>
                        <td class="text-center">
                            {% if not lang.setup %}Not installed
                            {% elseif lang.setup and not lang.update %}Created manually
                            {% else %}Installed{% endif %}</td>
                        <td class="text-center">
                            {% if not lang.setup %}
                                <a href="{{ site_url }}admin/install/langs/install/{{ key }}"><i class="fa fa-plus" title="Install lang"></i></a>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if lang.setup and lang.update and not lang.is_default and langs_count > 1 %}
                                <a href="{{ site_url }}admin/install/langs/delete/{{ lang.id }}"><i class="fa fa-close" title="Uninstall lang"></i></a>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if lang.setup %}
                                <a href="{{ site_url }}admin/install/langs/export/{{ lang.id }}"><i class="fa fa-download" title="Export lang"></i></a>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if lang.setup and lang.update %}
                                <a href="{{ site_url }}admin/install/langs/update/{{ lang.id }}"><i class="fa fa-refresh" title="Update lang" src="{{ site_url }}{{ img_folder }}/icon-refresh.png"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% include '@app/footer.twig' %}
