<h4>Installing: {{ module.install_name }} V{{ module.version }}</h4>
<div>{{ module.install_descr }}</div>
<br>
<div class="progress">
    <div class="progress-bar progress-bar-warning" id="module_bar"
         data-transitiongoal=""
         style="width: {{ current_module_percent }}%;"
         aria-valuenow="">{{ current_module_percent }}%</div>
</div>
<br>
<div class="x_content h4">Module demo content</div>
{% if errors %}
    <div>
        <textarea readonly cols="80" rows="10">
{% for item in errors %}{{ item }}
______________________________________
{% endfor %}
        </textarea>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
      <div class="col-xs-12">
          <input type="button" onclick="javascript: product_install.request('demo_content');"
            name="refresh_module" value="Refresh" class="btn btn-primary">
      </div>
    </div>
    <div class="clearfix"></div>
{% else %}
    <script>
        $(function(){
            product_install.update_module_progress({{ current_module_percent }});
            product_install.delayed_request('{{ next_step }}');
        });
    </script>
{% endif %}

