{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <table id="users" class="table table-striped responsive-utilities jambo_table">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Module</th>
                        <th class="column-title">Description</th>
                        <th class="column-title">Version</th>
                        <th class="column-title">Installed</th>
                        <th class="column-title">Menu</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, item in modules %}
                    <tr>
                        <td class="first"><b>{{ item.module_gid }}</b></td>
                        <td>
                            <b>{{ item.module_name }}</b><br>
                            {{ item.module_description }}
                        {% if not empty(item.dependencies) %}<br><br><b>Depend from:</b> {% for dmod,depend in item.dependencies %}{% endfor %}{% endif %}
                        </td>
                        <td class="center">{{ item.version }}</td>
                        <td class="date">{% helper date_format.tpl_date_format(item.date_add, page_data.date_format) %}</td>
                        <td class="icons">
                          <div class="btn-group">
                            <a class="btn btn-primary" href="{{ site_url }}admin/install/module_view/{{ item.module_gid }}">View</a>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                  <a href="{{ site_url }}admin/install/module_view/{{ item.module_gid }}">View</a>
                                </li>
                                <li>
                                  <a href="{{ site_url }}admin/install/module_delete/{{ item.module_gid }}">Delete</a>
                                </li>
                              </ul>
                          </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include '@app/footer.twig' %}
