{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                {% helper menu.get_admin_level1_menu('admin_notifications_menu') %}
            </ul>
        </div>
        <div class="x_content">
            <div id="actions" class="hide">
          {% if allow_edit %}
              <div class="btn-group">
                <a href="{{ site_url }}admin/notifications/edit" class="btn btn-primary">
                  {% helper lang.l('link_add_notification', 'notifications') %}
                </a>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ site_url }}admin/notifications/edit">
                      {% helper lang.l('link_add_notification', 'notifications') %}
                    </a>
                  </li>
                </ul>
              </div>
          {% endif %}
            </div>
            <table id="users" class="table table-striped responsive-utilities jambo_table">
                <thead>
                    <tr class="headings">
                        <th class="column-title">
                            {% helper lang.l('field_notification_name', 'notifications') %}
                        </th>
                        <th class="column-title text-center">
                            {% helper lang.l('field_send_type', 'notifications') %}
                        </th>
                        <th class="column-title text-center">
                            {% helper lang.l('field_date_add', 'notifications') %}
                        </th>
                        <th class="column-title">&nbsp;</th>
                    </tr>
                <thead>
                <tbody>
                    {% for item in notifications %}
                        <tr class="even pointer">
                            <td>{% helper lang.l(item.name_i, 'notifications') %}</td>
                            <td class="text-center">{% helper lang.l('field_send_type_' ~ item.send_type, 'notifications') %}</td>
                            <td class="text-center">{% helper date_format.tpl_date_format(item.date_add,page_data.date_format) %}</td>
                            <td class="icons">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary"
                                            onclick="document.location.href='{{ site_url }}admin/notifications/edit/{{ item.id }}'">
                                        {% helper lang.l('link_edit_notification', 'notifications') %}
                                    </button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ site_url }}admin/notifications/edit/{{ item.id }}">
                                                {% helper lang.l('link_edit_notification', 'notifications') %}
                                            </a>
                                        </li>
                                        {% if allow_edit %}
                                            <li>
                                                <a href="{{ site_url }}admin/notifications/delete/{{ item.id }}"
                                                    onclick="javascript: if(!confirm('{% helper lang.l('note_delete_notification', 'notifications','' ,'js') %}'))
                                                    return false;">
                                                    {% helper lang.l('link_delete_notification', 'notifications') %}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "@app/pagination.twig" %}
    </div>
</div>
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('input.tableflat').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
    });

    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#users').dataTable({
            "oLanguage": {
                "sSearch": "{% helper lang.l('search_all_column','start') %}:",
                "sEmptyTable": "{% helper lang.l('no_notifications','notifications') %}"
            },
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,1,3]
                } //disables sorting for column one
            ],
            'iDisplayLength': 10,
            "bPaginate": false,
            "bInfo": false,
            "dom": 'T<"clear"><"actions">lfrtip',
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        var actions = $("#actions");
        $('#users_wrapper').find('.actions').html(actions.html());
        actions.remove();
    });
</script>

{% include '@app/footer.twig' %}
