<table id="users" class="table table-striped responsive-utilities jambo_table">
    <thead>
        <tr class="headings">
            {% if allow_pool_send  or  allow_pool_delete %}
                <th class="column-title">
                    <input type="checkbox" id="grouping_all" onclick="javascript: checkAll(this.checked);" class="flat">
                </th>
            {% endif %}
            <th class="column-title text-center {% if not allow_pool_send  and  not allow_pool_delete %}first{% endif %}">
                {% helper lang.l('field_mail_to_email', 'notifications') %}
            </th>
            <th class="column-title text-center">
                {% helper lang.l('field_subject', 'notifications') %}
            </th>
            <th class="column-title text-center">
                {% helper lang.l('send_attempts', 'notifications') %}
            </th>
            {% if allow_pool_send  or  allow_pool_delete %}
                <th class="column-title text-center">
                    {% helper lang.l('actions', 'notifications') %}
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in senders %}
            <tr class="even pointer">
                {% if allow_pool_send  or  allow_pool_delete %}
                    <td class="first w20 center">
                        <input type="checkbox" class="grouping flat" value="{{ item.id }}">
                    </td>
                {% endif %}
                <td class="text-center">
                    {{ item.email }}
                </td>
                <td class="text-center">
                    {{ item.subject }}
                </td>
                <td class="text-center">
                    {{ item.send_counter }}
                </td>
                {% if allow_pool_send or allow_pool_delete %}
                    <td class="icons">
                        {% if allow_pool_send %}
                            <a href="{{ site_url }}admin/notifications/pool_send/{{ item.id }}"
                               class="btn btn-primary">{% spaceless %}
                                   {% helper lang.l('link_send_pool', 'notifications') %}
                            {% endspaceless %}</a>
                        {% endif %}
                        {% if allow_pool_delete %}
                            <a href="{{ site_url }}admin/notifications/pool_delete/{{ item.id }}"
                               onclick="javascript:if(!confirm('{% helper lang.l('note_delete_pool', 'notifications', '', 'js') %}'))
                               return false;"
                               class="btn btn-primary">
                                    {% helper lang.l('link_delete_pool', 'notifications') %}
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% include "@app/pagination.twig" %}
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('input.tableflat').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
    });

    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#users').dataTable({
            "oLanguage": {
                "sSearch": "{% helper lang.l('search_all_column','start') %}:",
                "sEmptyTable": "{% helper lang.l('no_pool','notifications') %}"
            },
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,4]
                } //disables sorting for column one
            ],
            'iDisplayLength': 10,
            "bPaginate": false,
            "bInfo": false,
            "dom": 'T<"clear">lfrtip',
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
    });
</script>
