<div class="available-browsers">
	<a class="pos-abs" href="#"
        onclick="javascript:this.parentNode.style.display='none"; return false;">
        <img src="{{ site_root }}{{ img_folder }}/available_browsers/cornerx.jpg" alt="Close this notice" />
    </a>
	<div>
		<img class="fleft" src="{{ site_root }}{{ img_folder }}/available_browsers/warning.jpg" alt="Warning!" />
		<div class="fleft pt10">
			<h2>
                {% helper lang.l('available_browsers_text1', 'start') %}
            </h2>
			<div>
                {% helper lang.l('available_browsers_text2', 'start') %}
            </div>
		</div>
		<a href="http://www.firefox.com" target="_blank">
            <img src="{{ site_root }}{{ img_folder }}/available_browsers/firefox.jpg" alt="Get Firefox" />
        </a>
		<a href="http://www.google.com/chrome" target="_blank">
            <img src="{{ site_root }}{{ img_folder }}/available_browsers/chrome.jpg" alt="Get Google Chrome" />
        </a>
		<a href="http://www.apple.com/safari/download/" target="_blank">
            <img src="{{ site_root }}{{ img_folder }}/available_browsers/safari.jpg" alt="Get Safari" />
        </a>
		<a href="http://www.browserforthebetter.com/download.html" target="_blank">
            <img src="{{ site_root }}{{ img_folder }}/available_browsers/ie8.jpg" alt="Get Internet Explorer" />
        </a>
	</div>
</div>
