{% include '@app/header.twig' %}

<script>
	function get_type_data(type){
		$('#default_view_type option').removeAttr('selected');
		$('#default_view_type option[value='+type+']').attr('selected', 'selected');
	}
	function get_zoom_data(zoom){
		$('#default_zoom').val(zoom);
	}
	function get_drag_data(point_gid, lat, lon){
		$('#default_lat').val(lat);
		$('#default_lon').val(lon);
	}

	$(function(){
		$("#default_lat").bind('keyup', function(){
			map.moveMarker('general', $("#default_lat").val(), $("#default_lon").val());
		});
		$("#default_lon").bind('keyup', function(){
			map.moveMarker('general', $("#default_lat").val(), $("#default_lon").val());
		});

		$("#default_zoom").bind('keyup', function(){
			map.setZoom(parseInt($(this).val()));
		});
		$("#default_view_type").bind('change', function(){
			map.setType(parseInt($(this).val())-1);
		});
	});
</script>

<div class="x_panel">
	<div class="x_title h4">
		{% helper lang.l('admin_header_geomap_settings_change', 'geomap') %}</div>
	<form class="form-horizontal form-label-left" method="post"
				action="{{ data.action }}" name="save_form" enctype="multipart/form-data">
		<div class="">
			<div class="row form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">
					{% helper lang.l('field_driver', 'geomap') %}: </label>
				<div class="col-md-4 col-sm-4 col-xs-12">{{ driver_data.name }}</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">
					{% helper lang.l('field_map_gid', 'geomap') %}: </label>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<select id="map_selector" class="form-control">
					{% for item in maps %}
						<option value="{{ item.gid }}" {% if item.gid == map_gid %}selected{% endif %}>{% helper lang.l('map_'~item.gid, 'geomap') %}</option>
					{% endfor %}
						<option value="" {% if not map_gid %}selected{% endif %}>{% helper lang.l('map_default', 'geomap') %}</option>
					</select>
					<script>
						$(function(){
							$('#map_selector').bind('change', function(){
								var value = $(this).val();
								location.href = '{{ site_url }}admin/geomap/settings/{{ driver_data.gid }}'+(value ? '/'+value : '');
							});
						});
					</script>
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">
					{% helper lang.l('field_view_type', 'geomap') %}: </label>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<select name="data[view_type]" id="default_view_type" class="form-control">
					{% for key, item in lang_view_type.option %}
						<option value="{{ key|escape }}" {% if key == data.view_type %}selected{% endif %}>{{ item }}</option>
					{% endfor %}
					</select>
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">
					{% helper lang.l('field_default_zoom', 'geomap') %}: </label>
				<div class="control-label col-md-4 col-sm-4 col-xs-12">
					<input type="text" class="form-control" name="data[zoom]" id='default_zoom' value="{{ data.zoom|escape }}">
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">
					{% helper lang.l('field_default_lat', 'geomap') %}: </label>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<input type="text" name="data[lat]" id='default_lat' value="{{ data.lat|escape }}" class="form-control">
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">
					{% helper lang.l('field_default_lon', 'geomap') %}: </label>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<input type="text" name="data[lon]" id='default_lon' value="{{ data.lon|escape }}" class="form-control">
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">
					{% helper lang.l('field_marker_icon', 'geomap') %}: </label>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<input type="file" name="marker_icon" id='marker_icon' class="form-control">
					{% if data.marker_icon or data.icon %}
					<br><label for="uichb" class="checkbox"><input type="checkbox" name="marker_icon_delete" value="1" id="uichb" class="flat">{% helper lang.l('field_marker_icon_delete', 'geomap') %}</label><br>
					{% endif %}
				</div>
			</div>
			{% include 'edit_settings_'~gid~'.twig' %}
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					{% helper geomap.show_map({map_gid: gid,
						gid: map_gid, markers:
						markers, settings: view_settings,
						map_id: map, width: '', height: '300'}) %}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="ln_solid"></div>
		<div class="row form-group">
			<div class="col-xs-12 col-sm-offset-3">
				<button class="btn btn-success" type="submit" name="btn_save" value="1">
					{% helper lang.l('btn_save', 'start') %}</button>
				<a class="btn btn-default" href="{{ site_url }}admin/geomap">
					{% helper lang.l('btn_cancel', 'start') %}</a>
			</div>
		</div>
	</form>
</div>

{% include '@app/footer.twig' %}
