<div id="amenity_select_{{ amenity_helper_data.rand }}" class="controller-select">

	{% if amenity_helper_data.max == '1' %}
	<span id="amenity_text_{{ amenity_helper_data.rand }}">{{ amenity_helper_data.selected_data }}</span>
	<a href="#" id="amenity_open_{{ amenity_helper_data.rand }}">{% helper lang.l('link_select_amenity', 'geomap') %}</a>
	{% else %}
	<a href="#" id="amenity_open_{{ amenity_helper_data.rand }}">{% helper lang.l('link_select_amenities', 'geomap') %}</a>
	<span id="amenity_list_{{ amenity_helper_data.rand }}">{{ amenity_helper_data.selected_text }}</span>
	<i>(<span id="amenity_text_{{ amenity_helper_data.rand }}">{{ amenity_helper_data.selected_data }}</span> from {{ amenity_helper_data.max }} selected)</i>
	{% endif %}

	{% for key, item in amenity_helper_data.selected_all %}
	<input type="hidden" name="{% if amenity_helper_data.var %}{{ amenity_helper_data.var }}{% else %}id_amenity{% endif %}{% if amenity_helper_data.max > 1 %}[]{% endif %}" value="{{ key }}" id="sel_{{ amenity_helper_data.rand }}_{{ key }}" >
	{% endfor %}

</div>
{% helper utils.jscript('geomap', 'geomap-amenity-select.js') %}
<script>
{% if amenity_helper_data.var_js_name %}var {{ amenity_helper_data.var_js_name }};{% endif %}
$(function(){
	{% if amenity_helper_data.var_js_name %}{{ amenity_helper_data.var_js_name }} = {% endif %}new geomapAmenitySelect({
		siteUrl: '{{ site_url }}',
		rand: '{{ amenity_helper_data.rand }}',
		{% if amenity_helper_data.var %}hidden_name: '{{ amenity_helper_data.var }}',{% endif %}
		amenities: {{ amenity_helper_data.selected_all_json }},
		raw_data: {{ amenity_helper_data.raw_data_json }},
		max: {{ amenity_helper_data.max }},
		gid: '{{ amenity_helper_data.gid }}',
		output: '{{ amenity_helper_data.output }}'
	});
});
</script>
