{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                {% helper menu.get_admin_level1_menu('admin_polls_menu') %}
            </ul>
        </div>
        <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="menu" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default{% if filter == 'all' %} active{% endif %}{% if not filter_data.all %} disabled{% endif %}"
                           data-toggle-class="btn-primary" data-toggle-passive-class="btn-default"
                           {% if filter_data.all %}onclick="document.location.href='{{ site_url }}admin/polls/index/all'"{% endif %}>
                        <input type="radio" name="looking_user_type"{% if type_name == 'all' %} selected{% endif %}>
                        {% helper lang.l('filter_all_polls', 'polls') %} ({{ filter_data.all }})
                    </label>
                    <label class="btn btn-default{% if filter == 'active' %} active{% endif %}{% if not filter_data.active %} disabled{% endif %}"
                           data-toggle-class="btn-primary" data-toggle-passive-class="btn-default"
                           {% if filter_data.active %}onclick="document.location.href='{{ site_url }}admin/polls/index/active'"{% endif %}>
                        <input type="radio" name="looking_user_type"{% if type_name == 'active' %} selected{% endif %}>
                        {% helper lang.l('filter_active_polls', 'polls') %} ({{ filter_data.active }})
                    </label>
                    <label class="btn btn-default{% if filter == 'future' %} active{% endif %}{% if not filter_data.future %} disabled{% endif %}"
                           data-toggle-class="btn-primary" data-toggle-passive-class="btn-default"
                           {% if filter_data.future %}onclick="document.location.href='{{ site_url }}admin/polls/index/future'"{% endif %}>
                        <input type="radio" name="looking_user_type"{% if type_name == 'future' %} selected{% endif %}>
                        {% helper lang.l('filter_future_polls', 'polls') %} ({{ filter_data.future }})
                    </label>
                    <label class="btn btn-default{% if filter == 'end' %} active{% endif %}{% if not filter_data.end %} disabled{% endif %}"
                           data-toggle-class="btn-primary" data-toggle-passive-class="btn-default"
                           {% if filter_data.end %}onclick="document.location.href='{{ site_url }}admin/polls/index/end'"{% endif %}>
                        <input type="radio" name="looking_user_type"{% if type_name == 'end' %} selected{% endif %}>
                        {% helper lang.l('filter_end_polls', 'polls') %} ({{ filter_data.end }})
                    </label>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="actions" class="hide">
              <div class="btn-group">
                <a href="{{ site_url }}admin/polls/edit" class="btn btn-primary">
                    {% helper lang.l('link_add_poll', 'polls') %}
                </a>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ site_url }}admin/polls/edit">
                        {% helper lang.l('link_add_poll', 'polls') %}</a>
                  </li>
                </ul>
              </div>
            </div>
            <table id="users" class="table table-striped responsive-utilities jambo_table">
                <thead>
                    <tr class="headings">
                        <th class="column-title">{% helper lang.l('field_question', 'polls') %}</th>
                        <th class="column-title">{% helper lang.l('field_language', 'polls') %}</th>
                        <th class="column-title">{% helper lang.l('field_poll_type', 'polls') %}</th>
                        <th class="column-title">{% helper lang.l('field_date_start', 'polls') %}</th>
                        <th class="column-title">{% helper lang.l('field_date_end', 'polls') %}</th>
                        <th class="column-title">{% helper lang.l('text_status', 'start') %}</th>
                        <th class="column-title">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in polls %}
                    <tr>
                    {% if item.language %}
                        {% set cur_lang = item.language %}
                    {% endif %}
                        <td class="">
                            {% if attribute(item.question, cur_lang) %}
                                {{ attribute(item.question, cur_lang) }}
                            {% else %}
                                {{ item.question.default }}
                            {% endif %}
                        </td>
                        <td>
                            {% if item.language %}
                                {% set lang_id = item.language %}
                                {{ attribute(attribute(languages, lang_id), 'name') }}
                            {% else %}
                                {% helper lang.l('all_languages', 'polls') %}
                            {% endif %}
                        </td>
                        <td>
                            {% if item.poll_type_val %}
                                {{ item.poll_type_val }}
                            {% elseif item.poll_type == -1 %}
                                {% helper lang.l('poll_type_1', 'polls') %}
                            {% elseif item.poll_type == -2 %}
                                {% helper lang.l('poll_type_2', 'polls') %}
                            {% else %}
                                {% helper lang.l('poll_type_0', 'polls') %}
                            {% endif %}
                        </td>
                        <td>
                            {{ item.date_start }}
                        </td>
                        <td>
                            {% if item.use_expiration %}
                                {{ item.date_end }}
                            {% else %}
                                {% helper lang.l('field_unlim', 'polls') %}
                            {% endif %}
                        </td>
                        <td>
                          {% if (item.status and not item.use_expiration) or item.status %}
                              {% helper lang.l('btn_tableicon_is_active','start') %}
                          {% else %}
                              {% helper lang.l('btn_tableicon_is_not_active','start') %}
                          {% endif %}
                        </td>
                        <td class="icons">
                          <div class="btn-group">
                            {% if (item.status and not item.use_expiration) or item.status %}
                                <button type="button" class="btn btn-primary" title="{% helper lang.l('link_deactivate_poll', 'polls') %}"
                                        onclick="document.location.href='{{ site_url }}admin/polls/activate/{{ item.id }}/0'">
                                    {% helper lang.l('make_inactive','start') %}
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-primary" title="{% helper lang.l('link_activate_poll', 'polls') %}"
                                        onclick="document.location.href='{{ site_url }}admin/polls/activate/{{ item.id }}/1'">
                                    {% helper lang.l('make_active','start') %}
                                </button>
                            {% endif %}
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                      {% if (item.status and not item.use_expiration) or item.status %}
                                          <a href="{{ site_url }}admin/polls/activate/{{ item.id }}/0">
                                              {% helper lang.l('make_inactive','start') %}</a>
                                      {% else %}
                                          <a href="{{ site_url }}admin/polls/activate/{{ item.id }}/1">
                                              {% helper lang.l('make_active','start') %}</a>
                                      {% endif %}
                                    </li>
                                    <li>
                                        <a href="{{ site_url }}admin/polls/answers/{{ item.id }}">{% spaceless %}
                                            {% helper lang.l('link_tableicon_edit_answers', 'polls') %}
                                        {% endspaceless %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ site_url }}admin/polls/edit/{{ item.id }}">
                                            {% helper lang.l('btn_edit','start') %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ site_url }}admin/polls/results/{{ item.id }}">
                                            {% helper lang.l('link_results', 'polls') %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ site_url }}admin/polls/delete/{{ item.id }}"
                                           onclick="javascript: if(!confirm('{% helper lang.l('note_delete_poll', 'polls', '', 'js') %}')) return false;">
                                            {% helper lang.l('btn_delete','start') %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "@app/pagination.twig" %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#grouping_all').bind('click', function(){
            var checked = $(this).is(':checked');
            if (checked) {
                $('input[type=checkbox]').prop('checked', true);
            } else {
                $('input[type=checkbox]').prop('checked', false);
            }
        });
    });

</script>
<!-- Datatables -->
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>
<script>
    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#users').dataTable({
            "oLanguage": {
                "sSearch": "{% helper lang.l('search_all_column','start') %}:",
                "sEmptyTable": "{% helper lang.l('no_polls','polls') %}"
            },
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [5,6]
                } //disables sorting for column one
            ],
            'iDisplayLength': 10,
            "bPaginate": false,
            "bInfo": false,
            "dom": 'T<"clear"><"actions">lfrtip',
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        var actions = $("#actions");
        $('#users_wrapper').find('.actions').html(actions.html());
        actions.remove();
    });
</script>

{% include '@app/footer.twig' %}
