<div class="content-block load_content">
	<h1>
        {% helper lang.l('edit_album', 'media') %}
    </h1>
	<div class="inside popup-form">
		<form id="album_form" action="" method="post" enctype="" name="item_form">
			<input type="hidden" name="alb_id" id="alb_id" value="{{ album.id }}">
			<div class="form-group">
				<label>
                    {% helper lang.l('field_name', 'media') %}:
                </label>
                <input class="form-control" type="text" name="name" value="{{ album.name }}">
			</div>
			<div class="form-group">
				<label>
                    {% helper lang.l('field_permitted_for', 'media') %}:
                </label>
                {% helper ld_permissions = lang.ld('permissions', 'media') %}

                {% helper ld_permissions = lang.ld('permissions', 'media') %}
                <select  class="form-control"  name="permissions">
                    {% for key, item in ld_permissions.option %}
                        <option value="{{ key }}" {% if album.permissions == key %}selected{% endif %}>
                            {{ item }}
                        </option>
                    {% endfor %}
                </select>
			</div>
			<div class="form-group">
				<label>
                    {% helper lang.l('field_description', 'media') %}:
                </label>
                <textarea class="form-control" name="description">{{ album.description }}</textarea>
			</div>
			<div class="form-group">
                <input type="button" name="btn_upload" id="save_album_form"
                           value="{% helper lang.l('btn_save', 'start', '', 'button') %}"
                           onclick="javascript:albums_list.edit_album({{ album.id }})" class="btn btn-primary">
			</div>
		</form>
	</div>
	<div class="clr"></div>
</div>
