{% if media_count and album.media_count > media_count %}
    <div class="fixmargin mtb5">
        {% helper lang.l('no_permissions_for_view_part', 'media') %}
    </div>
{% endif %}

{% for key, item in media %}
    <div class="g-users-gallery__item col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="g-users-gallery__content">
            {% if item.upload_gid == 'gallery_audio' %}
                {% include 'view_audio_item.twig' %}
            {% else %}
            <div class="g-users-gallery__photo">
                <a class="g-pic-border g-rounded g-users-gallery__photo-img" href="javascript:void(0);" data-click="view-media" data-id-media="{{ item.id }}">
                    {% if item.video_content %}
                        <div class="g-users-gallery__overlay-icon pointer">
                            <i class="fa fa-play w fa-4x opacity60"></i>
                        </div>
                    {% endif %}
                    {% helper text_media_photo = lang.l('text_media_photo', 'media', '', 'button', item) %}
                    <img src="{% spaceless %}
                         {% if item.media %}
                             {{ item.media.mediafile.thumbs.big }}
                         {% elseif item.video_content %}
                             {{ item.video_content.thumbs.big }}
                         {% endif %}
                         {% endspaceless %}" alt="{{ text_media_photo }}" title="{{ text_media_photo }}" />
                    </a>
                    <div class="g-users-gallery__overlayinfo">
                        <div class="g-photo-statuses">
                            <div class="fleft">
                                {% if item.id_parent and ((item.media and not item.mediafile) or
                                  (item.video_content and not item.media_video)) %}
                                <div class="g-photo-statuses__item g-photo-statuses__item_place" data-gid="media{{ item.id }}">
                                    {% helper lang.l('media_deleted_by_owner', 'media') %}
                                </div>
                                {% endif %}
                                    <div class="g-photo-statuses__item g-photo-statuses__item_place" data-gid="media{{ item.id }}">
                                        <i class="fa fa-eye edge w">&nbsp;</i>
                                        <span class="view_num">{{ item.views }}</span>
                                    </div>
                                    <div class="g-photo-statuses__item">
                                        {% helper likes.like_block({
                                            'gid': 'media' ~ item.id,
                                            'type': 'button',
                                            'btn_class': 'edge w'
                                        }) %}
                                    </div>
                                    {% if item.is_adult %}
                                        <div class="g-photo-statuses__item g-photo-statuses__item_place">
                                            <i class="fa fa-female edge w">&nbsp;</i>
                                            <span>18+</span>
                                        </div>
                                    {% endif %}
                                    {% if item.id_user != item.id_owner %}
                                        <div class="g-photo-statuses__item" title="not owner">
                                            <i class="fa fa-file-o"></i>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="fright">
                                    {% if not item.is_owner %}
                                        <div class="g-photo-statuses__item g-photo-statuses__item_place g-photo-statuses__item_btn fright">
                                            {% helper spam.mark_as_spam_block({
                                        'object_id': item.id,
                                        'type_gid': 'media_object',
                                        'template': 'whitebutton'
                                    }) %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% else %}
                <div class="center">
                    {% if album.media_count %}
                        {% helper lang.l('no_permissions_for_view_all', 'media') %}
                    {% else %}
                        {% helper lang.l('no_media', 'media') %}
                    {% endif %}
                </div>
                {% endfor %}
