{% include '@app/header.twig' %}

{% for item in options %}
<div id="{{ item.gid }}_block" class="settings-block{% if item.gid %} with-{{ item.gid }}{% endif %}" onclick="javascript: location.href='{{ item.link }}';">
    <a id="{{ item.gid }}" href="{{ item.link }}">
        <h6>{{ item.value }}</h6>
    </a>
    <div>
        {{ item.tooltip }}
    </div>
</div>
{% endfor %}

{% include '@app/footer.twig' %}
