{% include '@app/header.twig' %}
<form method="post" action="{{ data.action|escape }}" name="save_form" enctype="multipart/form-data" class="form-horizontal">
    <div class="x_panel">
        <div class="x_title h4">
            {% if data.id %}
                {% helper lang.l('admin_header_form_change', 'field_editor') %}
            {% else %}
                {% helper lang.l('admin_header_form_add', 'field_editor') %}
            {% endif %}
        </div>
        <div class="x_content">
            <div class="row form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{% helper lang.l('field_gid', 'field_editor') %}: </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {% if data.id %}
                        <input type="hidden" value="{{ data.gid|escape }}" name="gid">{{ data.gid }}
                    {% else %}
                        <input type="text" value="{{ data.gid|escape }}" name="gid" class="form-control">
                    {% endif %}
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{% helper lang.l('field_form_type', 'field_editor') %}: </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {% if data.id %}
                        {% for item in types %}
                            {% if item.gid == data.editor_type_gid %}
                                <input type="hidden" value="{{ data.editor_type_gid|escape }}" name="editor_type_gid">{{ item.name }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <select name="editor_type_gid" class="form-control">
                            {% for item in types %}
                                <option value="{{ item.gid }}"{% if item.gid == data.editor_type_gid %}selected{% endif %}>{{ key }} {{ item.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{% helper lang.l('field_name', 'field_editor') %}: </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" value="{{ data.name|escape }}" name="name" class="form-control">
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="row form-group">
                <div class="col-md-offset-3 col-sm-offset-3 col-xs-12">
                    <input class="btn btn-success" type="submit" name="btn_save" value="{% helper lang.l('btn_save', 'start', '', 'button') %}">
                    <a class="btn btn-default" href="{{ site_url }}admin/field_editor/forms/{{ data.editor_type_gid }}">{% helper lang.l('btn_cancel', 'start') %}</a>
                </div>
            </div>
        </div>
    </div>
</form>

{% include '@app/footer.twig' %}
