{% include '@app/header.twig' %}

<h1>{{ category.category }}</h1>
<a class="fright mr5" href="{{ site_url }}forum/edit_topic/{{ category.id }}" ><i class="fa fa-plus fa-lg" title="{% helper lang.l('link_add_subcategory', 'forum') %}"></i></a>

<div class="table-div wp100">
	<dl>
		<dt class="w100"><h2>{% helper lang.l('field_subcategories', 'forum') %}</h2></dt>
		<dt class="w50"><h2>{% helper lang.l('field_author', 'forum') %}</h2></dt>
		<dt class="w50 center"><h2>{% helper lang.l('field_date', 'forum') %}</h2></dt>
		<dt class="w50 center">{% helper lang.l('link_messages_count', 'forum') %}</dt>
	</dl>
</div>

{% if subcategories is not empty %}
	{% for key, item in subcategories %}
		<div class="table-div wp100">
			<dl>
				<dt class="w100"><a href="{{ site_url }}forum/messages/{{ item.id }}">{{ item.subcategory }}</a></dt>
				<dt class="w50">
					{% if item.latest.is_admin == 1 %}
						{% helper lang.l('admin_name', 'forum') %}
					{% else %}
						<a href="{{ site_url }}users/view/{{ item.latest.user.id }}">{{ item.latest.user.output_name }}</a>
					{% endif %}
				</dt>
				<dt class="w50 center">
					{% helper date_format.tpl_date_format(item.latest.date_created, page_data.date_format) %}
				</dt>
				<dt class="w50 center">{{ item.messages_count }}</dt>
			</dl>
		</div>
	{% endfor %}

	<div id="pages_block_2">
		{% set page_data = page_data|merge({'type': 'full'}) %}
        {% helper start.pagination(page_data) %}
	</div>
{% else %}
	<div class="center">{% helper lang.l('no_subcategories', 'forum') %}</div>
{% endif %}

{% include '@app/footer.twig' %}