{% include '@app/header.twig' %}

<div class="content-block">
    <h1>
        {% helper lang.l('header_my_banners', 'banners') %}
    </h1>
    <div class="content-value">
        <a class="btn btn-primary btn-add-banners" href="{{ site_url }}banners/edit">
            <i class="fa fa-plus-circle fa-lg edge hover zoom30">
                <i class="fa fa-mini-stack fa-plus bottomright"></i>
            </i>
            <i>{% helper lang.l('link_add_banner', 'banners', '', 'button') %}</i>
        </a><br><br>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr id="sorter_block">
                    <th class="w30">
                        {% helper lang.l('field_number', 'banners') %}
                    </th>
                    <th class="w30">
                        &nbsp;
                    </th>
                    <th>
                        {% helper lang.l('field_name', 'banners') %}
                    </th>
                    <th>
                        {% helper lang.l('field_approve', 'banners') %}
                    </th>
                    <th class="w150">
                        &nbsp;
                    </th>
                </tr>
                {% for banner in banners %}
                    <tr>
                        <td class="centered">
                            {{ loop.index }}
                        </td>
                        <td class="view-banner">
                            <a href="javascript:void(0);" id="view_{{ banner.id }}"
                               class="fa fa-eye-open fa-lg edge hover zoom10"
                               title="{% helper lang.l('link_view_banner', 'banners') %}">
                            </a>
                            <div id="view_{{ banner.id }}_content" class="hide">
                                {% if banner.banner_type == 1 %}
                                <img src="{{ banner.media.banner_image.file_url }}"
                                     width="{{ banner.banner_place_obj.width }}"
                                     height="{{ banner.banner_place_obj.height }}"
                                     alt="{{ banner.alt_text|e }}" />
                                {% else %}
                                    {{ banner.html }}
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <b>
                                {{ banner.name }}
                                {% if banner.banner_place_obj %}
                                    ({{ banner.banner_place_obj.name }}
                                    {{ banner.banner_place_obj.width }}X{{ banner.banner_place_obj.height }})
                                {% endif %}
                            </b>

                            {% set limit='' %}

                            {% if banner.number_of_views %}
                                {% set limit=1 %}
                                {% helper lang.l('shows', 'banners') %} - {{ banner.number_of_views }}<br/>
                            {% endif %}

                            {% if banner.number_of_clicks %}
                                {% set limit=1 %}
                                {% helper lang.l('clicks', 'banners') %} - {{ banner.number_of_clicks }}<br/>
                            {% endif %}

                            {% if banner.expiration_date and banner.expiration_date != '0000-00-00 00:00:00' %}
                                {% set limit=1 %}
                                {% helper lang.l('till', 'banners') %} - {% helper date_format.tpl_date_format(banner.expiration_date, page_data.date_format) %}
                            {% endif %}

                            {% if not limit %}
                                {% if banner.status %}
                                    {% helper lang.l('never_stop', 'banners') %}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if banner.approve == '1' %}
                                <span class="status">
                                    <i class="fa fa-ok-sign fa-lg"></i>
                                    {% if banner.status %}
                                        {% helper lang.l('text_banner_activated', 'banners') %}
                                    {% else %}
                                        {% helper lang.l('approved', 'banners') %}
                                    {% endif %}
                                </span>
                            {% elseif banner.approve == '-1' %}
                                <span class="status">
                                    <i class="fa fa-ban-circle fa-lg"></i>
                                    {% helper lang.l('declined', 'banners') %}
                                </span>
                            {% else %}
                                <span class="status wait">
                                    <i class="fa fa-time g fa-lg"></i>
                                    {% helper lang.l('not_approved', 'banners') %}
                                </span>
                            {% endif %}
                        </td>
                        <td class="r righted">
                            {% if banner.approve == '1' %}
                                {% if not banner.status %}
                                    <a href="{{ site_url }}banners/activate/{{ banner.id }}"
                                       class="fa fa-play fa-lg edge hover mr10"
                                       title="{% helper lang.l('link_activate_banner', 'banners') %}">
                                    </a>
                                {% endif %}
                                {% if banner.status == '1' %}
                                    <a href="{{ site_url }}banners/statistic/{{ banner.id }}"
                                       class="fa fa-bar-chart fa-lg edge hover mr10"
                                       title="{% helper lang.l('link_banner_stat', 'banners', '', 'button') %}">
                                    </a>
                                {% endif %}
                            {% endif %}
                            <a href="javascript:;" class="fa fa-trash fa-lg edge hover zoom30"
                                onclick="javascript:{% spaceless %}
                                    if(!confirm('{% helper lang.l('note_delete_banner', 'banners', '', 'js') %}')){console.log('false');}
                                    locationHref('{{ site_url }}banners/delete/{{ banner.id }}');
                                {% endspaceless %}">
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="empty" colspan="5">
                            {% helper lang.l('no_banners', 'banners') %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
    </div>
</div>
<div id="pjaxcontainer"></div>
<script>
	$(function(){
		loadScripts(
			"{% helper utils.jscript('', 'easyTooltip.min.js') %}",
			function(){
				$("td.view-banner > a").each(function(){
					var id = $(this).attr('id')+'_content';
					$(this).easyTooltip({useElement: id});
				});
			}
		);
	});
</script>

<div class="clr"></div>

{% include '@app/footer.twig' %}
