<ul id="user_account_menu">
	{% for key, item in menu %}
		<li {% if item.active and not item.sub %}class="active"{% endif %}>
			<a id="account_menu_{{ item.gid }}" href="{{ item.link }}">
				{{ item.value }}{% if item.indicator %}<span class="num">{{ item.indicator }}</span>{% endif %}
			</a>
			{% if item.sub %}
				<ul>
					{% for key, s in item.sub %}
						<li {% if s.active %}class="active"{% endif %}>
							<a id="account_menu_{{ item.gid }}_{{ s.gid }}" href="{{ s.link }}">
                                {{ s.value }}{% if s.indicator %}<span class="num">{{ s.indicator }}</span>{% endif %}
                            </a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
<script>
    $(function(){
        $('#user_account_menu > li').each(function(){
            if($(this).find('ul > li').length > 0){
                $(this).find(' > a').attr('data-pjax', '0').bind('click', function(){
                    $(this).parent().find('ul').slideToggle();
                    return false;
                });
            }
            if($(this).find('ul > li.active').length > 0 ){
                $(this).find('ul').slideDown();
            }
        });
    });
</script>
