<span class="user-menu-item">
    <span id="block_user_{{ id_dest_user }}">
        <dt>
            <a class="link-r-margin add_to_blacklist{% if action == 'remove' %} hide{% endif %}"
               data-userId="{{ id_dest_user }}"
                href="{% helper seo.seolink('blacklist', 'add', id_dest_user) %}"
                data-pjax="0" onclick="event.preventDefault();"
                title="{% helper lang.l('action_add', 'blacklist') %}">
                <i class="fa fa-ban"></i>
            </a>
        </dt>
        <dd>
            <a class="link-r-margin add_to_blacklist{% if action == 'remove' %} hide{% endif %}"
               data-userId="{{ id_dest_user }}"
                href="{% helper seo.seolink('blacklist', 'add', id_dest_user) %}"
                data-pjax="0" onclick="event.preventDefault();"
                title="{% helper lang.l('action_add', 'blacklist') %}">
                    {% helper lang.l('action_add', 'blacklist') %}
            </a>
        </dd>

        <dt>
            <a class="link-r-margin remove_from_blacklist {% if action == 'add' %}hide{% endif %}"
               href="{% helper seo.seolink('blacklist', 'remove', id_dest_user) %}" data-userId="{{ id_dest_user }}"
               data-pjax="0" onclick="event.preventDefault();"
               title="{% helper lang.l('action_remove', 'blacklist') %}">
                <i class="fa fa-ban g"></i>
            </a>
        </dt>
        <dd>
            <a class="link-r-margin remove_from_blacklist {% if action == 'add' %}hide{% endif %}"
               href="{% helper seo.seolink('blacklist', 'remove', id_dest_user) %}" data-userId="{{ id_dest_user }}"
               data-pjax="0" onclick="event.preventDefault();"
               title="{% helper lang.l('action_remove', 'blacklist') %}">
                {% helper lang.l('action_remove', 'blacklist') %}
            </a>
        </dd>
    </span>
</span>
<script>
	$(function() {
		loadScripts(
            ["{% helper utils.jscript('blacklist', 'blacklist.js', 'path') %}"],
            function() {
                blacklistObj = new blacklist({
                    siteUrl: site_url
                });
            },
            'blacklistObj'
        );
	});
</script>
