{% include '@app/header.twig' %}

<form method="post" action="{{ data.action }}" name="save_form">
	<div class="edit-form n150">
		<div class="row header">
            {% if data.id %}
                {% helper lang.l('admin_header_groups_change', 'users') %}
            {% else %}
                {% helper lang.l('admin_header_groups_add', 'users') %}
            {% endif %}
        </div>
		<div class="row">
			<div class="h">{% helper lang.l('field_group_gid', 'users') %}: </div>
			<div class="v"><input type="text" value="{{ data.gid|e }}" name="gid"></div>
		</div>
		{% for lang_id, item in languages %}
		<div class="row">
			<div class="h">{% helper lang.l('field_group_name', 'users') %}({{ item.name }}): </div>
			<div class="v">
				<input type="text" name="langs[{{ lang_id }}]" value="{{ attribute(data.langs, lang_id)|e %}">
			</div>
		</div>
		{% endfor %}
	</div>
    {% helper lang.l('btn_save', 'start', '', 'button') %}
	<div class="btn"><div class="l"><input type="submit" name="btn_save" value="{{ save_text }}"></div></div>
	<a class="cancel" href="{{ site_url }}admin/users/groups">{% helper lang.l('btn_cancel', 'start') %}</a>
</form>
<div class="clearfix"></div>

<script type="text/javascript">
    $(function(){
        $("div.row:odd").addClass("zebra");
    });
</script>

{% include '@app/footer.twig' %}
