{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">

        <div id="menu" class="btn-group" data-toggle="buttons">
            <label class="btn btn-default"
                    data-toggle-class="btn-primary" data-toggle-passive-class="btn-default"
                    onclick="document.location.href='{{ site_url }}admin/users/settings'">
                {% helper lang.l('btn_settings', 'users') %}
            </label>
        </div>

        <div class="clearfix"></div>

        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li class="{% if filter == 'all' %}active{% endif %} {% if not filter_data.all %}disabled{% endif %}">
                    <a href="{% if filter_data.all %}{{ site_url }}admin/users/index/all/{{ user_type }}{% else %}javascript:;{% endif %}">
                        {% helper lang.l('filter_all_users', 'users') %} ({{ filter_data.all }})
                    </a>
                </li>
                <li class="{% if filter == 'not_active' %}active{% endif %} {% if not filter_data.not_active %} disabled{% endif %}">
                    <a href="{% if filter_data.not_active %}{{ site_url }}admin/users/index/not_active/{{ user_type }}{% else %}javascript:;{% endif %}">
                        {% helper lang.l('filter_not_active_users', 'users') %} ({{ filter_data.not_active }})
                    </a>
                </li>
                <li class="{% if filter == 'active' %}active{% endif %} {% if not filter_data.active %}disabled{% endif %}">
                    <a href="{% if filter_data.active %}{{ site_url }}admin/users/index/active/{{ user_type }}{% else %}javascript:;{% endif %}">
                        {% helper lang.l('filter_active_users', 'users') %} ({{ filter_data.active }})
                    </a>
                </li>
                <li class="{% if filter == 'not_confirm' %}active{% endif %} {% if not filter_data.not_confirm %}disabled{% endif %}">
                    <a href="{% if filter_data.not_confirm %}{{ site_url }}admin/users/index/not_confirm/{{ user_type }}{% else %}javascript:;{% endif %}">
                        {% helper lang.l('filter_not_confirm_users', 'users') %} ({{ filter_data.not_confirm }})
                    </a>
                </li>
                <li class="{% if filter == 'deleted' %}active{% endif %} {% if not filter_data.deleted %}disabled{% endif %}">
                    <a href="{% if filter_data.deleted %}{{ site_url }}admin/users/deleted{% else %}javascript:;{% endif %}">
                        {% helper lang.l('filter_deleted_users', 'users') %} ({{ filter_data.deleted }})
                    </a>
                </li>
                {% helper incomplete_signup.not_registered_add_filter(filter) %}
            </ul>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2>{% helper lang.l('header_filters', 'start') %}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-down cursor-pointer"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content hide">
                <form method="post" enctype="multipart/form-data" data-parsley-validate
                    class="form-horizontal form-label-left">
                    <input type="hidden" name="filter" value="{{ filter|e }}">
                    <input type="hidden" name="order" value="{{ order|e }}">
                    <input type="hidden" name="order_direction" value="{{ order_direction|e }}">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            {% helper lang.l('user_type', 'users') %}:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="user_type" value="all"{% if user_type == 'all' %} selected{% endif %}>...
                                </label>
                                {% for key, item in user_types.option %}
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="user_type" value="{{ key }}"{% if user_type == key %} selected{% endif %}>{{ item }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{% helper lang.l('search_by', 'users') %}:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="val_text" value="{{ search_param.text|e }}" class="form-control">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <select name="type_text" class="form-control">
                                <option value="all" {% if search_param.type == 'all' %} selected{% endif %}>
                                    {% helper lang.l('filter_all', 'users') %}
                                </option>
                                <option value="email" {% if search_param.type == 'email' %} selected{% endif %}>
                                    {% helper lang.l('field_email', 'users') %}
                                </option>
                                <option value="fname" {% if search_param.type == 'fname' %} selected{% endif %}>
                                    {% helper lang.l('field_fname', 'users') %}
                                </option>
                                <option value="sname" {% if search_param.type == 'sname' %} selected{% endif %}>
                                    {% helper lang.l('field_sname', 'users') %}
                                </option>
                                <option value="nickname" {% if search_param.type == 'nickname' %} selected{% endif %}>
                                    {% helper lang.l('field_nickname', 'users') %}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                            {% helper lang.l('latest_active', 'users') %}:</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            {% helper start.getCalendarInput('last_active_from', search_param.last_active.from, {id: 'last_active_from', noSetCurrentDate: true}) %}
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                            <label class="control-label" for="last_active_to">&nbsp;{% helper lang.l('to', 'users') %}&nbsp;</label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            {% helper start.getCalendarInput('last_active_to', search_param.last_active.to, {id: 'last_active_to', noSetCurrentDate: true}) %}
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-sm-offset-3">
                            <input type="submit" class="btn btn-primary" value="{% helper lang.l('header_user_find', 'users') %}" name="btn_search">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="x_content">
            <div id="actions" class="hide">
                <div class="btn-group">
                    <a id="users_link_add" href="{{ site_url }}admin/users/edit/personal/" class="btn btn-primary">
                        {% helper lang.l('link_add_user', 'users') %}
                    </a>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="users_link_add" href="{{ site_url }}admin/users/edit/personal/">
                                {% helper lang.l('link_add_user', 'users') %}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" id="users_link_delete">
                                {% helper lang.l('link_delete_user', 'users') %}
                            </a>
                        </li>
                        {% helper add_funds = users_payments.button_add_funds() %}
                        {% if add_funds|trim %}
                        <li>
                            {{ add_funds }}
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <table id="users" class="table table-striped responsive-utilities jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-group"><input type="checkbox" id="check-all" class="flat"></th>
                        <th class="column-title">{% helper lang.l('field_nickname', 'users') %}</th>
                        <th class="column-title">{% helper lang.l('user_type', 'users') %}</th>
                        <th class="column-title xs-hide">{% helper lang.l('field_email', 'users') %}</th>
                        <th class="column-title xs-hide">{% helper lang.l('field_account', 'users') %}</th>
                        <th class="column-title sm-hide">{% helper lang.l('field_date_created', 'users') %}</th>
                        <th class="column-title">{% helper lang.l('text_status', 'start') %}</th>
                        <th class="column-title">&nbsp;</th>
                        <th class="bulk-actions" colspan="8">
                            {#<a href="javascript:;" class="dropdown-toggle info-number alone" data-toggle="dropdown" aria-expanded="false"
                                style="position: absolute; top: 40px; font-weight:500;">
                                Actions ( <span class="action-cnt"> </span> )
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu"
                                style="position: absolute; top: 120px; left: 6px;">
                                <li class="dropdown">
                                    <ul>
                                        <li>
                                            <a id="users_link_delete" href="javascript:void(0)">
                                                {% helper lang.l('link_delete_user', 'users') %}
                                            </a>
                                        </li>
                                        {% helper users_payments.button_add_funds() %}
                                    </ul>
                                </li>
                            </ul>#}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for item in users %}
                    <tr class="{% if not empty(item.net_is_incomer) %}net_incomer {% endif %}even pointer">
                        <td class="text-center">
                            {% if not empty(item.net_is_incomer) %}
                                <div class="corner-triangle" title="{% helper lang.l('network_is_incomer', 'users') %}"></div>
                            {% endif %}
                            <input type="checkbox" class="tableflat grouping" value="{{ item.id }}" data="table_records">
                        </td>
                        <td>
                            <b>{{ item.nickname }}</b><br>{{ item.fname }} {{ item.sname }}
                        </td>
                        <td>{{ item.user_type_str }}</td>
                        <td class="xs-hide">
                            {% if not empty(item.net_is_incomer) %}
                                {% helper lang.l('network_email', 'users') %}
                            {% else %}
                                {{ item.email }}
                            {% endif %}
                        </td>
                        <td class="xs-hide a-right">
                            {% helper start.currency_format_output({value: item.account}) %}
                        </td>
                        <td class="sm-hide">
                            {% helper date_format.tpl_date_format(item.date_created, page_data.date_format) %}
                        </td>
                        <td>
                            {% if item.approved %}
                                {% helper lang.l('btn_tableicon_is_active','start') %}
                            {% else %}
                                {% helper lang.l('btn_tableicon_is_not_active','start') %}
                            {% endif %}
                        </td>
                        <td class="icons">
                            <div class="btn-group">
                                {% if item.approved %}
                                <button type="button"
                                    class="btn btn-primary" title="{% helper lang.l('link_deactivate_user','users') %}"
                                    onclick = "document.location.href='{{ site_url }}admin/users/activate/{{ item.id }}/0'">
                                        {% helper lang.l('make_inactive','start') %}
                                </button>
                                {% else %}
                                    <button type="button"
                                        class="btn btn-primary" title="{% helper lang.l('link_activate_user','users') %}"
                                        onclick = "document.location.href='{{ site_url }}admin/users/activate/{{ item.id }}/1'">
                                            {% helper lang.l('make_active','start') %}
                                    </button>
                                {% endif %}

                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                    {% if item.approved %}
                                        <a href="{{ site_url }}admin/users/activate/{{ item.id }}/0">
                                            {% helper lang.l('make_inactive','start') %}
                                        </a>
                                    {% else %}
                                        <a href="{{ site_url }}admin/users/activate/{{ item.id }}/1">
                                            {% helper lang.l('make_active','start') %}
                                        </a>
                                    {% endif %}
                                    </li>

                                    <li>
                                    {% if empty(item.net_is_incomer) %}
                                        <a href="{{ site_url }}admin/users/edit/personal/{{ item.id }}">
                                            {% helper lang.l('link_edit_user','users') %}
                                        </a>
                                    {% else %}
                                        {% helper lang.l('network_is_incomer','users') %}. {% helper lang.l('network_error_edit_user','users') %}
                                    {% endif %}
                                    </li>

                                    {% helper delete = users.delete_select_block({id_user: item.id, deleted: 0}) %}
                                    {% if delete %}
                                    <li>
                                        {{ delete }}
                                    </li>
                                    {% endif %}

                                    {% helper contact = tickets.contact_user_link({id_user: item.id}) %}
                                    {% if contact|trim %}
                                    <li>
                                        {{ contact }}
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "@app/pagination.twig" %}
    </div>
</div>

{% helper utils.jscript('', 'jquery-ui.custom.min.js') %}
<link href="{{ site_root }}{{ js_folder }}jquery-ui/jquery-ui.custom.css" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript">
    var reload_link = '{{ site_url }}admin/users/index/';
    var filter = '{{ filter|e('js') }}';
    var order = '{{ order|e('js') }}';
    var loading_content;
    var order_direction = '{{ order_direction|e('js') }}';

    $(function(){
        delete_select_block = new loadingContent({
            closeBtnPadding: '15',
            closeBtnClass: 'close',
            loadBlockSize: 'big',
            loadBlockTitle: '{% helper lang.l('admin_header_delete_user', 'users') %}',
            footerButtons: '<input type="submit" id="lie_delete" class="btn btn-primary" name="btn_confirm_del" value="{% helper lang.l('btn_confirm_del', 'users', '', 'js') %}" disabled form="delete_user">'
        });
        $(document).off('click', '#users_link_delete').on('click', '#users_link_delete', function() {
            var data = new Array();
            $('.grouping:checked').each(function(i){
                data[i] = $(this).val();
            });
            if(data.length > 0){
                $.ajax({
                    url: site_url + 'admin/users/ajax_delete_select/',
                    data: {user_ids: data},
                    type: "POST",
                    cache: false,
                    success: function(data){
                        delete_select_block.show_load_block(data);
                    }
                });
            }else{
                error_object.show_error_block('{% helper lang.l('error_no_users_to_change_group', 'users', '', 'js') %}', 'error');
            }
        });
    });

    function reload_this_page(value){
        var link = reload_link + filter + '/' + value + '/' + order + '/' + order_direction;
        location.href=link;
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('input.tableflat').iCheck({
            checkboxClass: 'icheckbox_flat-green',
        });
    });
</script>

<!-- Datatables -->
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>
<script>
    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#users').dataTable({
            "oLanguage": {
                "sSearch": "{% helper lang.l('search_all_column','start') %}:",
                "sEmptyTable": "{% helper lang.l('no_users','users') %}"
            },
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,4,6,7]
                } //disables sorting for column one
            ],
            'iDisplayLength': 10,
            "bPaginate": false,
            "bInfo": false,
            "dom": 'T<"clear"><"actions">lfrtip',
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        var actions = $("#actions");
        $('#users_wrapper').find('.actions').html(actions.html());
        actions.remove();
    });
</script>

{% include '@app/footer.twig' %}
