{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
            {% if data.id %}
                {% helper lang.l('admin_header_menu_change', 'menu') %}
            {% else %}
                {% helper lang.l('admin_header_menu_add', 'menu') %}
            {% endif %}
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form method="post" name="save_form" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        {% helper lang.l('field_menu_name', 'menu') %}:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" value="{{ data.name|e }}" name="name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        {% helper lang.l('field_menu_gid', 'menu') %}:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" value="{{ data.gid }}" name="gid" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        {% helper lang.l('field_menu_check_permissions', 'menu') %}:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="checkbox" class="flat" name="check_permissions" value="1"
                            {% if data.check_permissions %}checked{% endif %}>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-sm-6 col-xs-12 col-sm-offset-3">
                        {% helper save_text = lang.l('btn_save', 'start') %}
                        <input type="submit" class="btn btn-success" name="btn_save" value="{{ save_text }}">
                        <a class="btn btn-default" href="{{ site_url }}admin/menu">
                            {% helper lang.l('btn_cancel', 'start') %}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% helper utils.jscript('', 'jquery-ui.custom.min.js') %}
<link href="{{ site_root }}{{ js_folder }}jquery-ui/jquery-ui.custom.css" rel="stylesheet" type="text/css" media="screen" />

{% include '@app/footer.twig' %}
