<script>
    /* Load widget code */
    var featherEditor{{ avaiary_button_rand }};
    loadScripts(
        "{{ feather_url }}",
        function() {
            /* Instantiate the widget */
            try {
                featherEditor{{ avaiary_button_rand }} = new Aviary.Feather({
                    apiKey: '{{ aviary_api_key }}',

                    {% if aviary_lang_code %}
                    language: '{{ aviary_lang_code }}',
                    {% endif %}

                    onLoad: function(){
                        $('#btn_aviary_edit{{ avaiary_button_rand }}').prop('disabled', false);
                    },
                    onSave: function(imageID, newURL) {
                        $.ajax({
                    	  url: '{{ site_url }}aviary/save', 
                    	  data: {
                            url: newURL,
                            postdata: JSON.stringify({
                                module: '{{ aviary_module }}',
                                data: {{ aviary_post_data }},
                                code: '{{ aviary_code }}'
                            })
                          },
                          method: 'POST', 
                          success: function(resp) {
                                new {{ aviary_save_callback }}(imageID, newURL, resp);
                                featherEditor{{ avaiary_button_rand }}.close();
                          }
                        });
                    },
                    onError: function(errorObj) {
                        var error_obj = new Errors();
                        error_obj.show_error_block(errorObj.message, 'error');
                    },
                });
            }catch(e){
                $('#btn_aviary_edit{{ avaiary_button_rand }}').hide();
            }
        });

    function launchEditor{{ avaiary_button_rand }}(id, src) {
        if (typeof(featherEditor{{ avaiary_button_rand }}) === 'undefined') return false;
        featherEditor{{ avaiary_button_rand }}.launch({
            image: id,
            url: src
        });
        return false;
    }
</script>

<a href="#" class="btn btn-default" id="btn_aviary_edit{{ avaiary_button_rand }}" name="btn_aviary_edit" onclick="return launchEditor{{ avaiary_button_rand }}('{{ aviary_photo_id }}', {{ aviary_photo_source }});">
    <span class="fa fa-pencil"></span> {% helper lang.l('btn_aviary', 'aviary', '', 'button') %}
</a>
