{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="menu" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default{% if filter == 'all' %} active{% endif %}"
                           data-toggle-class="btn-primary" data-toggle-passive-class="btn-default"
                           onclick="document.location.href='{{ site_url }}admin/payments/paymentsList/all/{{ payment_type_gid }}/{{ system_gid }}'">
                        <input type="radio" name="looking_user_type">
                        {% helper lang.l('filter_payments_all', 'payments') %} ({{ filter_data.all }})
                    </label>
                    <label class="btn btn-default{% if filter == 'wait' %} active{% endif %}"
                           data-toggle-class="btn-primary" data-toggle-passive-class="btn-default"
                           onclick="document.location.href='{{ site_url }}admin/payments/paymentsList/wait/{{ payment_type_gid }}/{{ system_gid }}'">
                        <input type="radio" name="looking_user_type">
                        {% helper lang.l('filter_payments_wait', 'payments') %} ({{ filter_data.wait }})
                    </label>
                    <label class="btn btn-default{% if filter == 'approve' %} active{% endif %}"
                           data-toggle-class="btn-primary" data-toggle-passive-class="btn-default"
                           onclick="document.location.href='{{ site_url }}admin/payments/paymentsList/approve/{{ payment_type_gid }}/{{ system_gid }}'">
                        <input type="radio" name="looking_user_type">
                        {% helper lang.l('filter_payments_approve', 'payments') %} ({{ filter_data.approve }})
                    </label>
                    <label class="btn btn-default{% if filter == 'decline' %} active{% endif %}"
                           data-toggle-class="btn-primary" data-toggle-passive-class="btn-default"
                           onclick="document.location.href='{{ site_url }}admin/payments/paymentsList/decline/{{ payment_type_gid }}/{{ system_gid }}'">
                        <input type="radio" name="looking_user_type">
                        {% helper lang.l('filter_payments_decline', 'payments') %} ({{ filter_data.decline }})
                    </label>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>{% helper lang.l('header_filters', 'start') %}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-{% if not payment_type_gid and not system_gid %}down{% else %}up{% endif %} cursor-pointer"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content {% if not payment_type_gid and not system_gid %}hide{% endif %}">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="col-md-2 col-sm-6 col-xs-12">
                        {% helper lang.l('filter_payment_type', 'payments') %}:</label>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <select name="payment_type_gid" class="form-control" onchange="javascript: reload_this_page(this.value, system_gid);">
                            <option value="all">...</option>
                        {% for key, item in payment_types %}
                            <option value="{{ item.gid }}" {% if payment_type_gid == item.gid %}selected{% endif %}>
                                {{ item.gid }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    <label class="col-md-2 col-sm-6 col-xs-12">
                        {% helper lang.l('filter_billing_type', 'payments') %}:</label>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <select name="system_gid" class="form-control" onchange="javascript: reload_this_page(payment_type_gid, this.value);">
                            <option value="all">...</option>
                        {% for key, item in systems %}
                            <option value="{{ item.gid }}" {% if system_gid == item.gid %}selected{% endif %}>
                                {{ item.name }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="x_content">
            <table id="users" class="table table-striped responsive-utilities jambo_table">
                <thead>
                    <tr class="headings">
                        <th class="column-title">{% helper lang.l('field_payment_user', 'payments') %}</th>
                        <th class="column-title">{% helper lang.l('field_payment_amount', 'payments') %}</th>
                        <th class="column-title">{% helper lang.l('field_payment_type', 'payments') %}</th>
                        <th class="column-title">{% helper lang.l('field_payment_billing_system', 'payments') %}</th>
                        <th class="column-title">{% helper lang.l('field_payment_date', 'payments') %}</th>
                        <th class="column-title">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in payments %}
                    {% set system_gid = item.system_gid %}
                    <tr class="even pointer">
                        <td class="js-tooltip" id="hide_{{ item.id }}">
                          {{ item.user.output_name }}
                          <span id="span_hide_{{ item.id }}" class=" hide">
                            <div class="tooltip-info x_panel">
                        			{% for param_id, param in item.payment_data_formatted %}
                        			<b>{{ param.name }}:</b> {{ param.value }}<br>
                        			{% endfor %}
                      		  </div>
                          </span>
                        </td>
                        <td>{% helper price_value = start.currency_format_output({value: item.amount}) %}{{ price_value|striptags }}</td>
                        <td>{{ item.payment_type_gid }}</td>
                        <td>{{ attribute(attribute(systems, system_gid), 'name') }}</td>
                        <td>{% helper date_format.tpl_date_format(item.date_add, page_data.date_format) %}</td>
                        <td class="icons">
                        {% if item.status == '1' %}
                            <font class="success">{% helper lang.l('payment_status_approved', 'payments') %}</font>
                        {% elseif item.status == '-1' %}
                            <font class="error">{% helper lang.l('payment_status_declined', 'payments') %}</font>
                        {% else %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary"
                                        onclick = "document.location.href='{{ site_url }}admin/payments/payment_status/approve/{{ item.id }}'">
                                            {% helper lang.l('link_payment_approve','payments') %}
                                </button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ site_url }}admin/payments/payment_status/approve/{{ item.id }}">
                                            {% helper lang.l('link_payment_approve','payments') %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ site_url }}admin/payments/payment_status/decline/{{ item.id }}">
                                            {% helper lang.l('link_payment_decline','payments') %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "@app/pagination.twig" %}
        </div>
    </div>
</div>

{% helper utils.jscript('', 'easyTooltip.min.js') %}

<script type="text/javascript">
    var filter = '{{ filter }}';
    var payment_type_gid = '{% if payment_type_gid %}{{ payment_type_gid }}{% else %}all{% endif %}';
    var system_gid = '{% if system_gid %}{{ system_gid }}{% else %}all{% endif %}';
    var order = '{{ order }}';
    var order_direction = '{{ order_direction }}';
    var reload_link = "{{ site_url }}admin/payments/paymentsList/";

    function reload_this_page(payment_type_gid, system_gid){
        var link = reload_link + filter + '/' + payment_type_gid + '/' + system_gid + '/' + order + '/' + order_direction;
        location.href=link;
    }

    $(function(){
        $(".js-tooltip").each(function(){
            $(this).easyTooltip({
                useElement: 'span_'+$(this).attr('id')
            });
        });
    });
</script>

{% helper utils.jscript('', 'jquery-ui.custom.min.js') %}
<link href="{{ site_root }}{{ js_folder }}jquery-ui/jquery-ui.custom.css" rel="stylesheet" type="text/css" media="screen" />

<!-- Datatables -->
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>

<script>
    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#users').dataTable({
            "oLanguage": {
                "sSearch": "{% helper lang.l('search_all_column','start') %}:",
                "sEmptyTable": "{% helper lang.l('no_payments','payments') %}"
            },
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,2,3,5]
                } //disables sorting for column one
            ],
            'iDisplayLength': 10,
            "bPaginate": false,
            "bInfo": false,
            "dom": 'T<"clear">lfrtip',
        });
        oTable.fnSort([[4, 'desc']]);
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
    });
</script>

{% include '@app/footer.twig' %}
