{% include '@app/header.twig' %}

<div class="x_panel">
    <form method="post" action="{{ data.action }}" class="form-horizontal form-label-left">
        <div class="x_content">
            <div class="form">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12">
                        {% helper lang.l('field_nickname', 'ausers') %}:</label>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        {% set nickname_value %}{% spaceless %}
                            {% if empty(data.nickname) %}
                                {% if DEMO_MODE %}
                                    {{ demo_login_settings.admin.login }}
                                {% endif %}
                            {% else %}
                                {{ data.nickname }}
                            {% endif %}
                        {% endspaceless %}{% endset %}
                        <input class="form-control" type="text"
                            value="{{- nickname_value|e -}}" name="nickname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12">
                        {% helper lang.l('field_password', 'ausers') %}:</label>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        {% set password_value %}{% spaceless %}
                                {% if DEMO_MODE %}
                                    {{ demo_login_settings.admin.password }}
                                {% endif %}
                        {% endspaceless %}{% endset %}
                        <input class="form-control" type="password"
                            value="{{- password_value|e -}}" name="password">
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2  col-sm-offset-3">
                        <button class="btn btn-success" type="submit" name="btn_login" value="1">
                            {% helper lang.l('btn_login', 'start') %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="clearfix"></div>

{% include '@app/footer.twig' %}
