{% include '@app/header.twig' %}

<div class="content-block">
	<h1>{{ blog.title }}</h1>
	{% include 'blog_menu.twig' %}
	<h2 class="line top bottom linked">
		<a href="{{ site_url }}blogs/view_blog/{{ blog.id }}">{{ blog.title }}</a>
		{% if blog.user_id == user_session_data.user_id %}
			<a class="fright" href="javascript:void(0)" onclick="javascript: if(!confirm('{% helper lang.l('note_delete_post', 'blogs', '', 'js') %}')) {return false;}else{document.location='{{ site_url }}blogs/delete_post/{{ post.id }}'}"><i class="fa fa-trash fa-lg" title="{% helper lang.l('link_delete_post', 'blogs') %}"></i></a>
			<a class="fright mr5" href="javascript:void(0)" onclick="document.location='{% helper seo.seolink('blogs', 'edit_post') %}/{{ post.id }}'"><i class="fa fa-pencil fa-lg" title="{% helper lang.l('link_edit_post', 'blogs') %}"></i></a>
			<a class="fright mr5" href="javascript:void(0)" onclick="document.location='{% helper seo.seolink('blogs', 'edit_post') %}'"><i class="fa fa-plus fa-lg" title="{% helper lang.l('link_add_post', 'blogs') %}"></i></a>
		{% endif %}
	</h2>
	<div>{% helper lang.l('posted_at', 'blogs') %}:&nbsp;{% helper date_format.tpl_date_format(post.date_created, page_data.date_time_format) %}</div>
	<div style="margin-top:15px; font-weight: bold">{{ post.title }}</div>
	<div style="margin-top:15px;">{{ post.body }}</div>
	{% if post.can_comment == '1' %}
		<div style="margin-top:15px;">
			<a href="javascript:void(0)" onclick="$('#post_comment_form').toggle()">{% helper lang.l('link_add_comment', 'blogs') %}</a>
			<form action="{{ site_url }}blogs/view_post/{{ post.id }}" id="post_comment_form" method="POST" style="margin-top:15px;" class="hide">
				<div class="form-group clearfix">
					<label>{% helper lang.l('field_title', 'blogs') %}: </label>
					<input type='text' value='{{ comment.title }}' name="title" class="form-control" />
				</div>
				<div class="form-group clearfix">
					<label>{% helper lang.l('field_description', 'blogs') %}: </label>
					<div>
						<textarea id="body" name="body" style="width: 300px; height: 200px;"></textarea>
						<script type="text/javascript">
							var CKEDITOR_BASEPATH = '{{ site_url }}system/plugins/ckeditor/';
							loadScripts(["{{ site_url }}system/plugins/ckeditor/ckeditor.js"],
								function() {
									if ($('#cke_body').length) {
										$('#cke_body').remove();
									}

									CKEDITOR.replace('body', {customConfig:'{{ site_url }}system/plugins/ckeditor/config.js',language: '{{ _LANG.code }}', toolbar: 
										[
											{ name: 'document', items: [ 'Source' ] },
											{ name: 'actions', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
											{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
											{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'SpecialChar' ] },
											{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat' ] },
											{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
											{ name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
											{ name: 'colors', items: [ 'TextColor', 'BGColor' ] }
										]
									});
								},
								'',
								{async: false}
							);
						</script>
					</div>
				</div>
				<div class="form-group clearfix">
					<button type="submit" class="btn btn-primary" name="btn_save" value="1">
						{% helper lang.l('btn_add', 'start', '', 'button') %}
					</button>
				</div>
			</form>
		</div>
		{% if comments_count > 0 %}
			<h2 class="line top bottom linked">{% helper lang.l('field_comments', 'blogs') %}</h2>
		{% endif %}
		{% for item in comments %}
			<div class="mb20">
				<div class="fleft" style="width: 120px;">
					<a href="{{ item.user.link }}" target="_blank">
						<img src="{{ item.user.media.user_logo.thumbs.middle }}" class="imgcanvas" alt="">
					</a>
				</div>
				<div class="fleft" style="width: 599px;">
					{{ item.title }} {% helper lang.l('posted_by', 'blogs') %} <a href="{{ item.user.link }}" target="_blank">{{ item.user.output_name }}</a>
					<br/><br/>
					<div>{{ item.body }}</div>
						<a href="javascript:void(0)" onclick="$('#post_comment_form_{{ item.id }}').toggle();">{% helper lang.l('leave_reply', 'blogs') %}</a>&nbsp;
					{% if item.user_id == user_session_data.user_id or blog.user_id == user_session_data.user_id %}
						|&nbsp;<a href="javascript:void(0)" onclick="javascript: if(!confirm('{% helper lang.l('note_delete_comment', 'blogs', '', 'js') %}')) {return false;}else{document.location='{{ site_url }}blogs/delete_comment/{{ item.id }}'}">{% helper lang.l('link_delete_comment', 'blogs') %}</a>
					{% endif %}
				</div>
				<div class="clr"></div>
				<form action="{{ site_url }}blogs/view_post/{{ post.id }}" id="post_comment_form_{{ item.id }}" class="hide" method="POST" style="margin-top:15px;">
					<input type="hidden" name="comment_id" value="{{ item.id }}">
					<div class="form-group clearfix">
						<label>{% helper lang.l('field_title', 'blogs') %}: </label>
						<input type='text' value="{% helper lang.l('reply', 'blogs') %} {{ item.user.output_name }}" name="title" class="form-control" />
					</div>
					<div class="form-group clearfix">
						<label>{% helper lang.l('field_description', 'blogs') %}: </label>
						<div>
							<textarea id="body{{ item.id }}" name="body" style="width: 300px; height: 200px;"></textarea>
							<script type="text/javascript">
								var CKEDITOR_BASEPATH = '{{ site_url }}system/plugins/ckeditor/';
								loadScripts(["{{ site_url }}system/plugins/ckeditor/ckeditor.js"],
									function(){
										if ($('#cke_body{{ item.id }}').length) {
											$('#cke_body{{ item.id }}').remove();
										}
										CKEDITOR.replace('body{{ item.id }}', {customConfig:'{{ site_url }}system/plugins/ckeditor/config.js',language: '{{ _LANG.code }}', toolbar: 
											[
												{ name: 'document', items: [ 'Source' ] },
												{ name: 'actions', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
												{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
												{ name: 'insert', items: [ 'Image', 'Flash', 'Table', 'SpecialChar' ] },
												{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat' ] },
												{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
												{ name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
												{ name: 'colors', items: [ 'TextColor', 'BGColor' ] }
											]
										});
									},
									'',
									{async: false}
								);
							</script>
						</div>
					</div>
					<div class="form-group clearfix">
						<button type="submit" class="btn btn-primary" name="btn_save" value="1">
							{% helper lang.l('btn_add', 'start', '', 'button') %}
						</button>
					</div>
				</form>
				<div class="clr"></div>
			</div>
		{% endfor %}
		<div class="clr"></div>
		{% if comments %}
		<div id="pages_block_2">
			{% set page_data = page_data|merge({'type': 'full'}) %}
        	{% helper start.pagination(page_data) %}
		</div>
		{% endif %}
	{% endif %}
</div>
<div class="clr"></div>

{% include '@app/footer.twig' %}