<div>
	{% if event.id_poster == $user_id %}
		<a class="fright delete_wall_event" data-id="{$event.id}" data-message="{l i=confirm_delete gid=wall_events}" href="javascript:;">{l i='btn_delete' gid='start'}</a>
	{% endif %}
</div>
{% for key, edata in event.data %}
	<div>{% helper date_format.tpl_date_format(edata.event_date, date_format) %}</div>
	<div>
		<div class="ptb5">
			{% if event.event_type_gid == 'blog_post_created' %}
				<a href="{{ posts[edata.id_post].user.link }}">{{ posts[edata.id_post].user.output_name }}</a> {% helper lang.l('wall_created_post', 'blogs') %} <a href="{{ site_url }}blogs/view_post/{{ edata.id_post }}">{% helper lang.l('post', 'blogs') %}</a><br/>
				{% helper lang.l('field_title', 'blogs') %}: {{ posts[edata.id_post].blog.title }}: {{ posts[edata.id_post].title }}
			{% endif %}
		</div>
	</div>
{% endfor %}