{% include '@app/header.twig' %}

{{ data.js }}

<div class="col-lg-12 service-payment-form">
	<h1>
        {{ data.system.name }}
    </h1>
    <div class="service-description mb10 clearfix">
        <div class="service-title">
                <div class="col-xs-9 col-md-11">
                    {% if data.payment_data.offline_line_1 %}
                      {{ data.payment_data.offline_line_1 }}
                    {% else %}
                      {{ data.payment_data.name }}
                    {% endif %}
                </div>
                <div class="col-xs-3 col-md-1">
                   {% helper start.currency_format_output({
                        'value': data.amount,
                        'cur_gid': data.currency_gid
                    }) %}
                </div>
        </div>
        <div class="col-xs-12">
            {{ data.payment_data.offline_line_2 }} ({{ data.payment_type_gid }})
        </div>
        <div class="col-xs-12">
            {% if data.system.info_data %}
                <div class="service-title">
                    {% helper lang.l('field_info_data', 'payments') %}
                </div>
                <div>
                    {{ data.system.info_data }}
                </div>
            {% endif %}
        </div>
    </div>
    {% helper special_offers.getOfferNote('account', data.amount) %}
	<div class="content-value row">
		<form method="post">
            <input type="hidden" name="payment_type_gid" value="{{ data.payment_type_gid }}">
            <input type="hidden" name="amount" value="{{ data.amount }}">
            <input type="hidden" name="currency_gid" value="{{ data.currency_gid }}">
            <input type="hidden" name="system_gid" value="{{ data.system_gid }}">
            <input type="hidden" name="payment_data[name]" value="{{ data.payment_data.name|e }}">

            {% for key, item in data.map %}
            <div class="form-group clearfix">
                <label for="" class="col-xs-12">
                    {{ item.name}}:
                </label>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    {% if item.type == 'text' %}
                        <input type="text" name="map[{{ key }}]"
                               value="{{ data.payment_data[key] }}"
                               class="
                                   {% if item.size == 'small' %}
                                       short
                                   {% elseif item.size == 'big' %}
                                       long
                                   {% endif %}
                               form-control">
                    {% elseif item.type == 'textarea' %}
                        <textarea name="map[{{ key }}]" rows="5" cols="40" class="form-control">{{ data.payment_data[key] }}</textarea>
                    {% endif %}
				</div>
            </div>
            {% endfor %}

            <div class="form-group clearfix">
                <div class="col-xs-12">
                    <input type="submit" name="btn_save" class="btn btn-primary" value="{% helper lang.l('btn_send', 'start', '', 'button') %}">
                    <button name="btn_cancel" class="btn btn-cancel" onclick="locationHref('{% helper seo.seolink('users', 'account', {'action': 'payments_history'}) %}')">
                        {% helper lang.l('btn_cancel', 'start') %}
                    </button>
                </div>
            </div>
		</form>
	</div>
</div>
<div class="clr"></div>

{% include '@app/footer.twig' %}
