{% include '@app/header.twig' %}

	<div class="col-lg-12">
        {% helper users.login_form() %}

        <h1>
            {% helper lang.l('header_payment_return', 'payments') %}
        </h1>

        <div class="content-value">
            <p>
                {% helper lang.l('text_payment_return', 'payments') %}
            </p>
            <div class="edit_block">
                <div class="r">
                    <div class="f">
                        {% helper lang.l('field_amount', 'payments') %}:
                    </div>
                    <div class="v">
                        <b>{{ payment.amount }} {{ payment.currency.abbr }}</b>
                    </div>
                </div>
                <div class="r">
                    <div class="f">
                        {% helper lang.l('field_payment_type', 'payments') %}:
                    </div>
                    <div class="v">
                        <b>{{ payment.payment_type_gid }}({{ payment.payment_data.name }})</b>
                    </div>
                </div>
                <div class="r">
                    <div class="f">
                        {% helper lang.l('field_billing_type', 'payments') %}:
                    </div>
                    <div class="v">
                        <b>{{ payment.system_gid }}</b>
                    </div>
                </div>
                <div class="r">
                    <div class="f">
                        {% helper lang.l('field_status', 'payments') %}:
                    </div>
                    <div class="v">
                        {% if payment.status == '1' %}
                            <font class="success">
                                <b>{% helper lang.l('payment_status_approved', 'payments') %}</b>
                            </font>
                        {% elseif payment.status == '-1' %}
                            <font class="error">
                                <b>{% helper lang.l('payment_status_declined', 'payments') %}</b>
                            </font>
                        {% else %}
                            <b>{% helper lang.l('payment_status_wait', 'payments') %}</b>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="r">
                <div class="l">
                    <input type="button" class="btn btn-cancel" name="btn_save"
                        value="{% helper lang.l('btn_cancel', 'start', '', 'button') %}"
                        onclick="javascript: locationHref('{% helper seo.seolink('users', 'account', {'action': 'payments_history'}) %}');">
                </div>
                <div class="b">&nbsp;</div>
            </div>
        </div>
	</div>

{% include '@app/footer.twig' %}
