<div class="row mb20">
    <h4 class="col-xs-12">{% helper lang.l('header_add_media', 'clubs') %}</h4>
</div>

<form id="upload_video" action="{{ site_url }}media/save_video"
      method="post" name="upload_video"
      enctype="multipart/form-data" class="form-horizontal form-label-left" onsubmit="return">
    
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            {% helper lang.l('field_files', 'media') %}:
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="file" class="form-control" name="videofile" id="videofile" />(
            {% if media_config.max_size == '0' %}
                {% helper lang.l('int_unlimited', 'uploads') %}
            {% else %}
                {% helper lang.l('max', 'start') %}
                {% helper utils.bytesFormat(media_config.max_size) %}
            {% endif %})&nbsp;
            <span id="attach-input-error"></span>
            <div id="attach-input-warning"></div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            {% helper lang.l('field_or_embed_code', 'media') %}
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <textarea class="form-control" name="embed_code"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            {% helper lang.l('field_description', 'media') %}:
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <textarea class="form-control" name="description">{{ media.description|e }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-sm-offset-3">
            <button name="btn_upload" id="btn_upload" class="btn btn-primary">
                {% helper lang.l('btn_save', 'start') %}
            </button>
        </div>
    </div>
</form>

{% autoescape false %}
    <script type="text/javascript">
        $(function () {
            var allowed_mimes = {{ media_config.allowed_mimes|json_encode }};
            loadScripts(
                "{% helper utils.jscript('', 'uploader.js', 'path') %}",
                function () {
                    var lang_data = {
                        errors: {
                            file_missing: "{% helper lang.l('error_file_missing', 'uploads') %}"
                        }
                    };
                    vu = new uploader({
                        siteUrl: site_url,
                        Accept: 'application/json',
                        uploadUrl: 'admin/clubs/mediaUploadVideo/{{ club.id }}',
                        //zoneId: 'dragAndDropFiles',
                        fileId: 'videofile',
                        formId: 'upload_video',
                        sendType: 'file',
                        sendId: 'btn_upload',
                        //multiFile: false,
                        messageId: 'attach-input-error',
                        warningId: 'attach-input-warning',
                        maxFileSize: '{{ media_config.max_size }}',
                        mimeType: allowed_mimes,
                        allowEmptyFile: true,
                        lang: lang_data,
                        cbOnComplete: function (data) {
                            if (data.errors.length) {
                                error_object.show_error_block(data.errors, 'error');
                            } else {
                                location.href = site_url + 'admin/clubs/media/{{ club.id }}/video';
                            }
                        },
                        jqueryFormPluginUrl: "{% helper utils.jscript('', 'jquery.form.min.js', 'path') %}"
                    });
                },
                ['vu'],
                {async: false}
            );
        });
    </script>
{% endautoescape %}
