{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li>
                    <a href="{{ site_url }}admin/clubs/edit/{{ club.id }}">
                        {% helper lang.l('table_header_personal', 'clubs') %}
                    </a>
                </li>
                <li>
                    <a href="{{ site_url }}admin/clubs/media/{{ club.id }}">
                        {% helper lang.l('table_header_media', 'clubs') %}
                    </a>
                </li>
                <li class="active">
                    <a href="{{ site_url }}admin/clubs/forum/{{ club.id }}">
                        {% helper lang.l('table_header_forum', 'clubs') %}
                    </a>
                </li>
            </ul>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2>{% helper lang.l('header_add_forum_category', 'clubs') %}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-down cursor-pointer"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content hide">
                <form method="post" enctype="multipart/form-data" data-parsley-validate
                    class="form-horizontal form-label-left">
                    <input type="hidden" name="club_id" value="{{ club.id }}" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {% helper lang.l('field_topic_name', 'clubs') %}: </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="name" value="" required="" class="form-control" />
                        </div>
                    </div>
                    {# <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {% helper lang.l('field_category_description', 'clubs') %}: </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="description" value="" class="form-control" />
                        </div>
                    </div> #}
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-sm-offset-3">
                            <input type="submit" class="btn btn-primary" value="{% helper lang.l('btn_save', 'start') %}" name="btn_category_add" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="x_content">
            <table id="clubs_forum_table" class="table table-striped responsive-utilities jambo_table">
            <thead>
                <tr class="headings">
                    <th class="column-title">{% helper lang.l('field_topic_name', 'clubs') %}</th>
                    <th class="column-title">{% helper lang.l('field_posts_count', 'clubs') %}</th>
                    <th class="column-title"></th>
                </tr>
            </thead>
            <tbody>
            {% for topic in topics %}
                <tr>
                    <td>{{ topic.name }}</td>
                    <td>
                        <a href="{{ site_url }}admin/clubs/forumPosts/{{ topic.club_id }}/{{ topic.id }}">{{ topic.posts_count }}</a>
                    </td>
                    <td class="icons">
                    <a class="btn btn-primary" onclick = "if(!confirm('{% helper lang.l('note_alert_delete_forum_topic','clubs') %}')) { return false; }" href="{{ site_url }}admin/clubs/deleteForumTopic/{{ topic.id }}">
                          {% helper lang.l('btn_delete', 'start') %}
                    </a>
              </tr>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        {% include "@app/pagination.twig" %}
    </div>
</div>

<!-- Datatables -->
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#clubs_forum_table').dataTable({
            "oLanguage": {
                "sSearch": "{% helper lang.l('search_all_column','start') %}:",
                "sEmptyTable": "{% helper lang.l('no_forum_topics','clubs') %}"
            }, 
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [2]
                } //disables sorting for column one
            ],
            "aaSorting": [[0, "asc"]], 
            'iDisplayLength': 10,
            "bPaginate": false,
            "bInfo": false,
            "dom": 'T<"clear"><"actions">lfrtip',
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        var actions = $("#actions");
        $('#clubs_forum_table_wrapper').find('.actions').html(actions.html());
        actions.remove();
    });
</script>

{% include '@app/footer.twig' %}