<span class="user-menu-item">
    <dt>
        <a href="javascrip:;" data-id="im_panel-bottom" data-im="{{ im_data.id_contact }}" data-pjax="0" class="link-r-margin chat-im"
           onclick="event.preventDefault(); addImContact_{{ im_data.id_contact }}();"
           title="{% helper lang.l('im_chat', 'im') %}">
            <i data-flash="0" class="fa fa-comments"></i>
        </a>
    </dt>
    <dd>
        <a href="javascrip:;" data-id="im_panel-bottom" data-im="{{ im_data.id_contact }}" data-pjax="0" class="link-r-margin chat-im"
           onclick="event.preventDefault(); addImContact_{{ im_data.id_contact }}();"
           title="{% helper lang.l('im_chat', 'im') %}">
            {% helper lang.l('im_chat', 'im') %}
        </a>
    </dd>
</span>
<script>
	function addImContact_{{ im_data.id_contact }}(waiting_im_sec) {
		waiting_im_sec = waiting_im_sec || 0;
		if (!window.im && waiting_im_sec < 30) {
			setTimeout(function() {
                addImContact_{{ im_data.id_contact }}(waiting_im_sec);
            }, 100);
		}
		var data = {{ im_json_data }};
		im.openContact(data.contact_list);
		im.scrollToIm();
	}
	$('.chat-im').on('click', function() {
		var contact_id = $(this).data('im');
		if (contact_id) {
			im.setActiveContact(contact_id);
		}
	});
</script>
