<form name="select_countries" class="edit-form n100" action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
    {% for key, item in countries %}
        <div class="checkbox">
            <input class="flat" type="checkbox" name="country[]" value="{{ item.name }}" id="{{ item.code }}" {{ item.checked }}>
            <label class="control-label">{{ item.name }}</label>
        </div>
    {% endfor %}
    </div>
</form>
<script type="text/javascript">
$(function() {
    $('input[name^=country]').iCheck({
        checkboxClass: 'icheckbox_flat-green'
    });
    $('#submit_loc').click(function() {
        var countries = new Array();
        $('input[name^=country]:checked').each(function(i) {
            countries[i] = $(this).attr('id');
        });
        $.ajax({
            url: site_url + 'admin/store/ajax_join_location/{{ id_shipping }}',
            cache: false,
            data: { countries: countries },
            type: "POST",
            success: function(data) {
                country_open.hide_load_block();
                $('#block_countries').html(data);
            }
        });
        return false;
    });
});
</script>
