{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                {% if data.id %}
                    {% helper lang.l('admin_header_group_change', 'banners') %}
                {% else %}
                    {% helper lang.l('admin_header_group_add', 'banners') %}
                {% endif %}
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form method="post" action="{{ data.action }}" name="save_form" enctype="multipart/form-data"
                  data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        {% helper lang.l('field_group_name', 'banners') %}:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="langs[{{ cur_lang }}]" class="form-control"
                               value="{% if validate_lang %}{{ attribute(validate_lang, cur_lang)|trim }}
                                      {% else %}{{ data.name|trim }}{% endif %}">
                    </div>


            {% if languages_count > 1 %}

                    <div class="accordion col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3"
                         id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <h4 class="panel-title">
                                    {% helper lang.l('others_languages', 'start') %}
                                </h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                {% for lang_id, item in languages %}{% if lang_id != cur_lang %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            {{ item.name }}</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" name="langs[{{ lang_id }}]" class="form-control"
                                                   value="{% if validate_lang %}{{ attribute(validate_lang, lang_id)|trim }}
                                                          {% else %}{{ data.name|trim }}{% endif %}">
                                        </div>
                                    </div>
                                {% endif %}{% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

            {% endif %}
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        {% helper lang.l('field_group_gid', 'banners') %}:</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" value="{{ data.gid|e|trim }}" name="gid" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        {% helper lang.l('field_group_price', 'banners') %} ({% helper start.currency_format_output() %}):</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" value="{{ data.price|e|trim }}" name="price" class="form-control">
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        {% helper save_text = lang.l('btn_save', 'start', '', 'button') %}
                        <input type="submit" class="btn btn-success" name="btn_save" value="{{ save_text }}">
                        <a class="btn btn-default" href="{{ site_url }}admin/banners/groups_list">
                            {% helper lang.l('btn_cancel', 'start') %}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include '@app/footer.twig' %}
