{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        {% helper tickets.get_admin_message_block({'gid' : id_user}) %}

        <div class="x_content">
            <table id="users" class="table table-striped responsive-utilities jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">{% helper lang.l('field_users_list', 'tickets') %}</th>
                        <th class="column-title">{% helper lang.l('field_text_message', 'tickets') %}</th>
                        <th class="column-title">{% helper lang.l('field_date', 'tickets') %}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in user_messages %}
                    <tr class="even pointer{% if item.is_new and not item.is_admin_sender %} new_message{% endif %}">
                        <td>{{ item.output_name }}</td>
                        <td>{{ item.message }}</td>
                        <td>{% helper date_format.tpl_date_format(item.date_created, page_data.date_format) %}</td>
                        <td class="icons">
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary"
                                    onclick="javascript: if(confirm('{% helper lang.l('link_remove_message', 'tickets', '', 'js') %}')) {
                                                document.location.href='{{ site_url }}admin/tickets/remove_message/{{ item.id_user }}/{{ item.id }}';
                                            } else {return false;}">
                                {% helper lang.l('link_tableicon_remove_message','tickets') %}
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                  <a href="javascript:;" onclick="javascript: if(confirm('{% helper lang.l('link_remove_message', 'tickets', '', 'js') %}')) {
                                                      document.location.href='{{ site_url }}admin/tickets/remove_message/{{ item.id_user }}/{{ item.id }}';
                                                  } else {return false;}">
                                      {% helper lang.l('link_tableicon_remove_message','tickets') %}
                                  </a>
                                </li>
                            </ul>
                          </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "@app/pagination.twig" %}
    </div>
</div>

{% helper utils.jscript('', 'jquery-ui.custom.min.js') %}
<link href="{{ site_root }}{{ js_folder }}jquery-ui/jquery-ui.custom.css" rel="stylesheet" type="text/css" media="screen" />

<!-- Datatables -->
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#users').dataTable({
            "oLanguage": {
                "sSearch": "{% helper lang.l('search_all_column','start') %}:",
                "sEmptyTable": "{% helper lang.l('no_messages','tickets') %}"
            },
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,1,3]
                } //disables sorting for column one
            ],
            'iDisplayLength': 10,
            "bPaginate": false,
            "bInfo": false,
            "dom": 'T<"clear">lfrtip',
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
    });
</script>

{% include '@app/footer.twig' %}
