{% for item in fields_data %}
    {% set field_gid=item.gid %}
    {% if not attribute(not_editable_fields, field_gid) %}
        <div class="form-group clearfix">
            <label for="" class="col-xs-12 tali">
                {{ item.name }}:
            </label>
            <div class="col-xs-12" id="field-{{ item.gid }}">
                {% if item.field_type == 'select' %}
                    {% if item.settings_data_array.view_type == 'select' %}
                    <select name="{{ item.field_name }}" class="form-control">
                        {% if item.settings_data_array.empty_option %}
                            <option value="0" {% if value == 0 %}selected{% endif %}>...</option>
                        {% endif %}
                        {% for value, option in item.options.option %}
                            <option value="{{ value|e }}" {% if value == item.value %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    {% if item.settings_data_array.empty_option %}
                        <input type="radio" name="{{ item.field_name }}" value="0" id="{{ item.field_name|e }}_0" {% if value == 0 %}checked{% endif %}>
                        <label for="{{ item.field_name }}_0">No select</label><br>
                    {% endif %}
                    {% for value, option in item.options.option %}
                        <input type="radio" name="{{ item.field_name }}" value="{{ value|e }}" id="{{ item.field_name }}_{{ value }}" {% if value == item.value %}checked{% endif %}>
                        <label for="{{ item.field_name }}_{{ value }}">{{ option }}</label><br>
                    {% endfor %}
                {% endif %}
            {% elseif item.field_type == 'multiselect' %}
                {% if item.settings_data_array.view_type == 'mselect' %}
                <select name="{{ item.field_name }}[]" multiple  class="form-control">
                    {% for value, option in item.options.option %}
                        <option value="{{ value|e }}" {% helper utils.inArray(value, item.value, 'selected') %}>{{ option }}</option>
                    {% endfor %}
                </select>
            {% else %}
                {% for value, option in item.options.option %}
                    <div class="chbx">
                        <input type="checkbox" name="{{ item.field_name }}[]" value="{{ value|e }}" {% helper utils.inArray(value, item.value, 'checked') %} id="{{ item.field_name }}_{{ value }}">
                        <label for="{{ item.field_name }}_{{ value }}">{{ option }}</label>
                    </div>
                {% endfor %}
                <div class="clr"></div>
                <a href="#" class="select-link">
                    {% helper lang.l('select_all', 'start') %}
                </a>

                &nbsp;|&nbsp;

                <a href="#" class="unselect-link">
                    {% helper lang.l('unselect_all', 'start') %}
                </a>
            {% endif %}
            {% elseif item.field_type == 'text' %}
                <input type="text" name="{{ item.field_name }}" value="{{ item.value|e }}"
                       maxlength="{{ item.settings_data_array.max_char }}"
                       {% if item.settings_data_array.max_char < 11 %}
                           class="short form-control"
                       {% elseif item.settings_data_array.max_char > 1100 %}
                           class="long"
                       {% endif %}>
                {% elseif item.field_type == 'range' %}
                    <div class="w500">
                        {% set slider_attrs = {
                            'id': item.field_name ~ '_slider',
                            'single': 1,
                            'active_always': 1,
                            'min': item.settings_data_array.min_val,
                            'max': item.settings_data_array.max_val,
                            'value': item.value,
                            'field_name': item.field_name
                        } %}
                        {% helper start.slider(slider_attrs) %}
                    </div>
                {% elseif item.field_type == 'textarea' %}
                    <textarea name="{{ item.field_name }}" class="form-control">{{ item.value|e }}</textarea>
                {% elseif item.field_type == 'checkbox' %}
                    <input type="checkbox" name="{{ item.field_name }}" value="1" {%if item.value == '1' %}checked{% endif %}>
                {% endif %}
                &nbsp;
            </div>
        </div>
    {% endif %}
{% endfor %}
<script>
    function setchbx(fid, status) {
        if (status) {
            $('#' + fid).find('input[type=checkbox]').prop('checked', true);
        } else {
            $('#' + fid).find('input[type=checkbox]').prop('checked', false);
        }
    }
    $(function () {
        $('.select-link').unbind('click').bind('click', function () {
            setchbx($(this).parent().attr('id'), 1);
            return false;
        });
        $('.unselect-link').unbind('click').bind('click', function () {
            setchbx($(this).parent().attr('id'), 0);
            return false;
        });
    });
</script>
