{% if count_active > 1 %}
    {% if not type or type == 'dropdown' %}
        <ul>
            <li>
                <select onchange="location.href = '{{ site_url }}users/change_language/' + this.value;">
                    {% for item in languages %}
                        {% if item.status == '1' %}
                            <option value="{{ item.id }}" {% if item.id == current_lang %}selected{% endif %}>
                                {{ item.name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </li>
        </ul>
    {% elseif type == 'menu' %}
        <menu class="header-item" label="{% helper lang.l('on_account_header', 'users_payments') %}">
            {% set lang=attribute(languages, current_lang) %}
            {{ lang.name }}&nbsp;
            <i class="fa-caret-down"></i>
            <div class="drop w150">
                <menu>
                    {% for item in languages %}
                        <li>
                            {% if item.status == '1' %}
                                <a href="{{ site_url }}users/change_language/{{ item.id }}">
                                    {{ item.name }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </menu>
            </div>
        </menu>
    {% endif %}
{% endif %}
