<div class="user-box">
	<input type="text" name="user_name" id="user_text_{{ user_helper_data.rand }}"
        autocomplete="off" value="{{ user_helper_data.user.output_name }}"
        placeholder="{{ user_helper_data.placeholder }}">
	<button class="search-btn" id="user_open_{{ user_helper_data.rand }}" name="submit">
        <i class="fa-search w"></i>
    </button>
	<input type="hidden" name="{{ user_helper_data.var_user_name }}"
        id="user_hidden_{{ user_helper_data.rand }}" value="{{ user_helper_data.user.id }}">
</div>

<script>
    {% if user_helper_data.var_js_name %}
        var {{ user_helper_data.var_js_name }};
    {% endif %}
    $(function(){
        loadScripts(
            "{% helper utils.jscript('users', 'users-input.js', 'path') %}",
            function(){
                user_{{ user_helper_data.rand }} = new usersInput({
                    siteUrl: '{{ site_url }}',
                    rand: '{{ user_helper_data.rand }}',
                    id_user: '{{ user_helper_data.user.id }}',
                });
            },
            'user_{{ user_helper_data.rand }}'
        );
    });
</script>
