{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div id="actions" class="hide">
              <div class="btn-group">
                <a href="{{ site_root }}admin/memberships/create" class="btn btn-primary">
                    {% helper lang.l('btn_add','start') %}
                </a>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ site_root }}admin/memberships/create">
                        {% helper lang.l('btn_add','start') %}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <table id="users" class="table table-striped responsive-utilities jambo_table">
                <thead>
                    <tr class="headings">
                        <th class="column-title">{% helper lang.l('field_name','memberships') %}</th>
                        <th class="column-title">{% helper lang.l('field_price','memberships') %}</th>
                        <th class="column-title">{% helper lang.l('field_status','memberships') %}</th>
                        <th class="column-title">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in memberships %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>
                            {% helper start.currency_format_output({value: item.price}) %}
                        </td>
                        <td>
                            {% if item.is_active %}
                                {% helper lang.l('btn_tableicon_is_active','start') %}
                            {% else %}
                                {% helper lang.l('btn_tableicon_is_not_active','start') %}
                            {% endif %}
                        </td>
                        <td class="icons">
                            <div class="btn-group">
                              {% if item.is_active %}
                                  <button type="button"
                                      class="btn btn-primary" title="{% helper lang.l('link_item_deactivate','memberships') %}"
                                      onclick="document.location.href='{{site_url}}admin/memberships/deactivate/{{item.id}}'">
                                          {% helper lang.l('make_inactive','start') %}
                                  </button>
                              {% else %}
                                  <button type="button"
                                      class="btn btn-primary" title="{% helper lang.l('link_item_activate','memberships') %}"
                                      onclick="document.location.href='{{site_url}}admin/memberships/activate/{{item.id}}'">
                                          {% helper lang.l('make_active','start') %}
                                  </button>
                              {% endif %}
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                  {% if item.is_active %}
                                    <li>
                                      <a href="{{site_url}}admin/memberships/deactivate/{{item.id}}">
                                        {% helper lang.l('make_inactive','start') %}
                                      </a>
                                    </li>
                                  {% else %}
                                    <li>
                                      <a href="{{site_url}}admin/memberships/activate/{{item.id}}">
                                              {% helper lang.l('make_active','start') %}
                                      </a>
                                    </li>
                                  {% endif %}
                                    <li>
                                        <a href="{{site_url}}admin/memberships/edit/{{item.id}}">
                                            {% helper lang.l('link_item_edit','memberships') %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{site_url}}admin/memberships/delete/{{item.id}}">
                                            {% helper lang.l('link_item_delete','memberships') %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "@app/pagination.twig" %}
    </div>
</div>

{% helper utils.jscript('memberships','memberships-admin.js') %}
<link href="{{ site_root }}{{ js_folder }}jquery-ui/jquery-ui.custom.css" rel="stylesheet" type="text/css" media="screen" />
<!-- Datatables -->
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>

<script>
    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#users').dataTable({
            "oLanguage": {
                "sSearch": "{% helper lang.l('search_all_column','start') %}:",
                "sEmptyTable": "{% helper lang.l('no_items','memberships') %}"
            },
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,1,2,3]
                } //disables sorting for column one
            ],
            'iDisplayLength': 10,
            "bPaginate": false,
            "bInfo": false,
            "dom": 'T<"clear"><"actions">lfrtip',
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        var actions = $("#actions");
        $('#users_wrapper').find('.actions').html(actions.html());
        actions.remove();
    });
</script>

{% include '@app/footer.twig' %}
