<div class='col-md-12 col-sm-12 col-xs-12'>
    <h4>{{country.name}}: {{region.name}}</h4>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>{% helper lang.l('header_filters', 'start') %}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-down cursor-pointer"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content hide">
        <form method="post">
            <div class="form-group">
                <label class='control-label col-md-3 col-sm-3 col-xs-12'>
                    {% helper lang.l("search_city",'countries') %}:
                </label>
                <div class='col-md-9 col-sm-9 col-xs-12'>
                    <input type="text" name="search" value="{{search}}" class='form-control'>
                </div>
                <div class='clearfix'></div>
            </div>
            <div class='form-group'>
                <div class='col-md-3 col-sm-3 col-xs-12 col-md-offset-3'>
                    <input type="submit" name="btn_save" class='btn btn-success'
                            value="{% helper lang.l('btn_send','start','','button') %}">
                </div>
                <div class='clearfix'></div>
            </div>
            <div class="ln_solid"></div>
        </form>
    </div>
</div>
<div id="actions" class="hide">
  <div class="btn-group">
    <a href="{{site_url}}admin/countries/city_edit/{{country.code}}/{{region.id}}" class="btn btn-primary">
        {% helper lang.l('link_add_city','countries') %}
    </a>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="{{site_url}}admin/countries/city_edit/{{country.code}}/{{region.id}}">
            {% helper lang.l('link_add_city','countries') %}
        </a>
      </li>
      <li>
        <a href="{{site_url}}admin/countries/region/{{country.code}}/{{region.id}}/1/1">
            {% helper lang.l('link_sorting_mode','countries') %}
        </a>
      </li>
  </div>
</div>
<table id="data" class="table table-striped responsive-utilities jambo_table">
    <thead>
        <tr class="headings">
            <th class="column-title">{% helper lang.l('field_city_name','countries') %}</th>
            <th class="column-title">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for item in installed %}
        <tr>
            <td>{{item.name}}</td>
            <td class="icons">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary"
                        onclick="document.location.href='{{site_url}}admin/countries/city_edit/{{country.code}}/{{region.id}}/{{item.id}}'">
                        {% helper lang.l('link_edit_city','countries') %}
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{site_url}}admin/countries/city_edit/{{country.code}}/{{region.id}}/{{item.id}}">
                                {% helper lang.l('link_edit_city','countries') %}
                            </a>
                        </li>
                        <li>
                            <a href="{{site_url}}admin/countries/city_delete/{{country.code}}/{{region.id}}/{{item.id}}"
                                onclick="javascript: if (!confirm('{% helper lang.l('note_delete_city','countries','','js') %}')) return false;">
                                {% helper lang.l('link_delete_city','countries') %}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Datatables -->
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>
<script>
  var asInitVals = new Array();
  $(document).ready(function () {
    var oTable = $('#data').dataTable({
      "oLanguage": {
        "sSearch": "{% helper lang.l('search_all_column','start') %}:",
        "sEmptyTable": "{% helper lang.l('no_users','users') %}"
      },
      "aoColumnDefs": [
        {
          'bSortable': false,
          'aTargets': [1]
        } //disables sorting for column one
      ],
      'iDisplayLength': 10,
        "bPaginate": false,
        "bInfo": false,
        "dom": 'T<"clear"><"actions">lfrtip',
    });
    $("tfoot input").keyup(function () {
      /* Filter on the column based on the index of this element's parent <th> */
      oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
    });
    $("tfoot input").each(function (i) {
      asInitVals[i] = this.value;
    });
    $("tfoot input").focus(function () {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("tfoot input").blur(function (i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = asInitVals[$("tfoot input").index(this)];
      }
    });
    var actions = $("#actions");
    $('#data_wrapper').find('.actions').html(actions.html());
    actions.remove();
  });
</script>
