{% include '@app/header.twig' %}
<div class="x_panel">
    <div class="x_title">
      <h2>
        {% if data.id %}
            {% helper lang.l('admin_header_region_change','countries') %}
        {% else %}
            {% helper lang.l('admin_header_region_add','countries') %}
        {% endif %}
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form method="post" action="{{data.action}}" name="save_form" enctype="multipart/form-data"
              class="form-horizontal form-label-left">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                    {% helper lang.l('field_country', 'countries') %}:
                </label>
                <div  class="col-md-9 col-sm-9 col-xs-12">
                    <label class="data-label">
                        {{country.name}} ({{country.code}})
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                    {% helper lang.l('field_region_name', 'countries') %}:
                </label>
                <div  class="col-md-9 col-sm-9 col-xs-12">
                    <input type="hidden" value="{{data.name}}" name="name" />
                    <input type="text" name="langs[{{cur_lang}}]" class="form-control"
                           value="{% if validate_lang %}{{validate_lang[cur_lang]}}{% else %}{{data.name}}{% endif %}" >
                </div>
                {% if languages_count > 1 %}
                    <div class="accordion col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3"
                         id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <h4 class="panel-title">{% helper lang.l('others_languages', 'start') %}</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    {% for lang_id, item in languages %}
                                        {% if lang_id != cur_lang %}
                                            <div class="form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ item.name }}</label>
                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                    <input type="text" name="langs[{{ lang_id }}]" class="form-control"
                                                           value="{% if validate_lang %}{{validate_lang[lang_id]}}{% else %}{{ data.name }}{% endif %}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-3">
                    <input type="submit" name="btn_save" class="btn btn-success"
                           value="{% helper lang.l('btn_save', 'start','','button') %}">
                    <a class="btn btn-default cancel" href="{{site_url}}admin/countries/country/{{country.code}}">
                        {% helper lang.l('btn_cancel', 'start') %}
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clearfix"></div>

<script>
    $(function () {
        $("div.row:odd").addClass("zebra");
    });
    function showLangs(divId) {
        $('#' + divId).slideToggle();
    }
</script>

{% include '@app/footer.twig' %}
