{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                {% helper menu.get_admin_level1_menu('admin_blods_menu') %}
            </ul>
        </div>
        <div class="x_content">
            <div id="actions" class="hide">
                <div class="btn-group">
                  <a href="{{ site_root }}admin/blogs/edit_category" class="btn btn-primary">
                      {%- helper lang.l('link_add_category', 'blogs') -%}</a>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ site_root }}admin/blogs/edit_category">
                          {%- helper lang.l('link_add_category', 'blogs') -%}</a>
                    </li>
                  </ul>
                </div>
            </div>

            <table id="blogs" class="table table-striped responsive-utilities jambo_table">
                <thead>
                    <tr class="headings">
                        <th class="column-title">{% helper lang.l('field_gid', 'languages') %}</th>
                        <th class="column-title">{% helper lang.l('field_category', 'blogs') %}</th>
                        <th class="column-title">{% helper lang.l('link_blogs_count', 'blogs') %}</th>
                        <th class="column-title">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for key,item in categories %}
                    <tr class="even pointer">
                        <td>{{ item.gid }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                            {% if item.blogs_count != '0' %}
                                <a href="{{ site_url }}admin/blogs/index/{{ item.gid }}">{{ item.blogs_count }}</a>
                            {% else %}
                                {{ item.blogs_count }}
                            {% endif %}
                        </td>
                        <td class="icons">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary"
                                    onclick = "document.location.href='{{ site_url }}admin/blogs/edit_category/{{ item.gid }}'">
                                        {% helper lang.l('link_edit_categories','blogs') %}
                                </button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ site_url }}admin/blogs/edit_category/{{ item.gid }}">
                                            {% helper lang.l('link_edit_categories','blogs') %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ site_url }}admin/blogs/delete_category/{{ item.gid }}"
                                           onclick="javascript: if(!confirm('{% helper lang.l('note_delete_category', 'blogs', '', 'js') %}')) return false;">
                                            {% helper lang.l('link_delete_category','blogs') %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "@app/pagination.twig" %}
    </div>
</div>

{% helper utils.jscript('', 'jquery-ui.custom.min.js') %}
<link href="{{ site_root }}{{ js_folder }}jquery-ui/jquery-ui.custom.css" rel="stylesheet" type="text/css" media="screen" />

<!-- Datatables -->
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#blogs').dataTable({
            "oLanguage": {
                "sSearch": "{% helper lang.l('search_all_column','start') %}:",
                "sEmptyTable": "{% helper lang.l('no_categoties','blogs') %}"
            },
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': [0,1,2,3]
                } //disables sorting for column one
            ],
            'iDisplayLength': 10,
            "bPaginate": false,
            "bInfo": false,
            "dom": 'T<"clear"><"actions">lfrtip',
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        var actions = $("#actions");
        $('#blogs_wrapper').find('.actions').html(actions.html());
        actions.remove();
    });
</script>

{% include '@app/footer.twig' %}
