{% include '@app/header.twig' %}

<div class="menu-level2 hidden-xs">
	<ul class="nav nav-tabs bar_tabs">
		<li><a href="{{ site_url }}admin/themes/installed_themes">{% helper lang.l('header_installed_themes', 'themes') %}</a></li>
		<li class="active"><a href="{{ site_url }}admin/themes/enable_themes">{% helper lang.l('header_enable_themes', 'themes') %}</a></li>
	</ul>
	&nbsp;
</div>

<div class="menu-level2 visible-xs">
	<ul class="nav nav-tabs tabs-left">
		<li><a href="{{ site_url }}admin/themes/installed_themes">{% helper lang.l('header_installed_themes', 'themes') %}</a></li>
		<li class="active"><a href="{{ site_url }}admin/themes/enable_themes">{% helper lang.l('header_enable_themes', 'themes') %}</a></li>
	</ul>
	&nbsp;
</div>

<div class="x_panel">
	<div class="menu-level3 hidden-xs">
		<ul class="nav nav-tabs bar_tabs">
			<li class="{% if type == 'user' %}active{% endif %}"><a href="{{ site_url }}admin/themes/enable_themes/user">{% helper lang.l('filter_user_themes', 'themes') %}</a></li>
			<li class="{% if type == 'admin' %}active{% endif %}"><a href="{{ site_url }}admin/themes/enable_themes/admin">{% helper lang.l('filter_admin_themes', 'themes') %}</a></li>
		</ul>
		&nbsp;
	</div>

	<div class="menu-level3 visible-xs">
		<ul class="nav nav-tabs tabs-left">
			<li class="{% if type == 'user' %}active{% endif %}"><a href="{{ site_url }}admin/themes/enable_themes/user">{% helper lang.l('filter_user_themes', 'themes') %}</a></li>
			<li class="{% if type == 'admin' %}active{% endif %}"><a href="{{ site_url }}admin/themes/enable_themes/admin">{% helper lang.l('filter_admin_themes', 'themes') %}</a></li>
		</ul>
		&nbsp;
	</div>

	<div id="actions" class="hide"></div>

	<table id="data" class="table table-striped responsive-utilities jambo_table bulk_action">
		<thead>
			<tr class="headings">
				<th class="hidden-xs">&nbsp;</th>
				<th>{% helper lang.l('field_theme', 'themes') %}</th>
				<th class="hidden-xs">{% helper lang.l('field_description', 'themes') %}</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>

			{% for item in themes %}
			<tr>
				<td class="hidden-xs">{% if item.img %}<img src="{{ item.img }}" class="img">{% endif %}</td>
				<td>{{ item.theme }}</td>
				<td class="hidden-xs"><b>{{ item.theme_name }}</b><br>{{ item.theme_description }}</td>
				<td class="icons">
					<div class="btn-group">
						<a href="{{ site_url }}admin/themes/install/{{ item.gid }}" class="btn btn-primary">
	            {% helper lang.l('link_install_theme', 'themes') %}
	          </a>
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
								<a href="{{ site_url }}admin/themes/install/{{ item.gid }}">
			            {% helper lang.l('link_install_theme', 'themes') %}
			          </a>
							</li>
					</div>
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>

<!-- Datatables -->
<script src="{{ site_url }}application/views/gentelella/js/datatables/js/jquery.dataTables.js"></script>
<script>
    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#data').dataTable({
            "oLanguage": {
                "sSearch": "{% helper lang.l('search_all_column','start') %}:",
                "sEmptyTable": "{% helper lang.l('no_themes','themes') %}"
            },
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': []
                } //disables sorting for column one
            ],
            'iDisplayLength': 10,
            "bPaginate": false,
            "bInfo": false,
						"bSort": false,
						"bFilter": false,
            "dom": 'T<"clear"><"actions">lfrtip',
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        var actions = $("#actions");
        $('#data_wrapper').find('.actions').html(actions.html());
        actions.remove();
    });
</script>

{% include '@app/footer.twig' %}
