<h1 class="logo_header">
	<a href="{{ site_url }}" class="logo-block">
		<img src="{{ site_root }}{{ logo_settings.path }}"
             alt="{% helper seo.seo_tags_default('header_text') %}"
             width="{{ logo_settings.width }}" height="{{ logo_settings.height }}">
	</a>
</h1>
