{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        {% if data.id %}
            {% helper is_installed = utils.depends('seo_advanced') %}
            {% if is_installed['seo_advanced'] %}
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li class="{% if section_gid == 'text' %}active{% endif %}">
                            <a href="{{ site_url }}admin/content/edit/{{ current_lang }}/{{ parent_id }}/{{ data.id }}/text">
                                {% helper lang.l('filter_section_text', 'content') %}
                            </a>
                        </li>
                        <li class="{% if section_gid == 'seo' %}active{% endif %}">
                            <a href="{{ site_url }}admin/content/edit/{{ current_lang }}/{{ parent_id }}/{{ data.id }}/seo">
                                {% helper lang.l('filter_section_seo', 'seo') %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}


        {% if section_gid == 'text' %}
            <div class='x_title'>
                <h2>
                    {% if data.id %}
                        {% helper lang.l('admin_header_page_change', 'content') %}
                    {% else %}
                        {% helper lang.l('admin_header_page_add', 'content') %}
                    {% endif %}
                </h2>
                <div class='clearfix'></div>
            </div>
            <div class='x_content'>
                <form method="post" action="" name="save_form" enctype="multipart/form-data" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">

                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">

                        </div>
                        <div class='clearfix'></div>
                    </div>


                    {% if data.id %}
                        <div class="form-group">    <!-- Link -->
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                {% helper lang.l('field_view_link', 'content') %}:
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <label class="data-label">
                                    <a href="{% helper seo.seolink('content', 'view', 'data') %}">
                                        {% helper seo.seolink('content', 'view', 'data') %}
                                    </a>&nbsp;
                                </label>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">    <!-- Language -->
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            {% helper lang.l('field_lang', 'content') %}:
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select name="lang_id" class="form-control">
                                {% for item in languages %}
                                    <option {% if item.id == data.lang_id  or  item.id == current_lang  and  not data.lang_id %}
                                                selected
                                            {% endif %}
                                            value="{{ item.id }}">
                                        {{ item.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">    <!-- Keyword -->
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            {% helper lang.l('field_gid', 'content') %}:
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" value="{{ data.gid }}" name="gid" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">    <!-- Image -->
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            {% helper lang.l('field_icon', 'content') %}:
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="file" name="page_icon" class="form-control">
                            {% if data.img %}
                                <br><img src="{{ data.media.img.thumbs.small }}"  hspace="2" vspace="2"><br>
                                <input type="checkbox" name="page_icon_delete" value="1" id="uichb">
                                <label for="uichb">
                                    {% helper lang.l('field_icon_delete', 'content') %}
                                </label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">    <!-- Title -->
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            {% helper lang.l('field_title', 'content') %}:&nbsp;*
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {% for lang_id, lang_item in languages %}
                                {% set title='title_' ~ lang_id %}
                                <input type="{% if lang_id == current_lang %}text{% else %}hidden{% endif %}" name="title_{{ lang_id }}"
                                       value="{{ data[title]|escape }}" lang-editor="value" lang-editor-type="data-name"
                                       lang-editor-lid="{{ lang_id }}" class="form-control" />
                            {% endfor %}
                            <div class="accordion " id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel">
                                    <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <h4 class="panel-title">{% helper lang.l('others_languages', 'start') %}</h4>
                                    </a>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            {% for lang_id, lang_item in languages %}
                                                {% set title = 'title_' ~ lang_id %}
                                                {% if lang_id != current_lang %}
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ lang_item.name }}</label>
                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                            <input type="text" name="title_{{ lang_id }}" class="form-control"
                                                                   value="{% if validate_lang %}{{ attribute(validate_lang, lang_id) }}
                                                                          {% else %}{{ data[title]|escape }}{% endif %}">
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">    <!-- Annotation -->
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            {% helper lang.l('field_annotation', 'content') %}:&nbsp;*
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            {% for lang_id, lang_item in languages %}
                                {% set annotation = 'annotation_' ~ lang_id %}
                                {% if lang_id == current_lang %}
                                    <textarea name="annotation_{{ lang_id }}" rows="2" cols="80" class="form-control"
                                              lang-editor="value" lang-editor-type="data-annotation"
                                              lang-editor-lid="{{ lang_id }}">{{ data[annotation]|escape }}</textarea>
                                {% else %}
                                    <input type="hidden" name="annotation_{{ lang_id }}" value="{{ data[annotation]|escape }}"
                                           lang-editor="value" lang-editor-type="data-annotation" lang-editor-lid="{{ lang_id }}">
                                {% endif %}
                            {% endfor %}

                            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel">
                                    <a class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4 class="panel-title">{% helper lang.l('others_languages', 'start') %}</h4>
                                    </a>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            {% for lang_id, lang_item in languages %}
                                                {% set annotation = 'annotation_' ~ lang_id %}
                                                {% if lang_id != current_lang %}
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">{{ lang_item.name }}</label>
                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                            <textarea  name="annotation_{{ lang_id }}" class="form-control">{% spaceless %}{#!Not edit#}
                                                                {% if validate_lang %}{{ attribute(validate_lang, lang_id) }}
                                                                {% else %}{{ data[annotation]|escape }}{% endif %}
                                                            {% endspaceless %}</textarea>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        {% helper lang.l('field_content', 'content') %}</label>
                      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">

                          <ul id="info_lang" class="nav nav-tabs bar_tabs" role="tablist">
                              {% for lang_id, item in languages %}
                                  <li class = "{% if lang_id == current_lang %}active{% endif %}"
                                      id="info_lang_{{ lang_id }}">
                                      <a href="{{ site_url }}admin/content/edit/" data-id="{{ lang_id }}">{{ item.name }}</a>
                                  </li>
                              {% endfor %}
                          </ul>
                          <div id="info_content">
                              {% for lang_id, lang_item in languages %}
                                  <div id="info_content_{{ lang_id }}" class="info_content"
                                       style="{% if lang_id != current_lang %}display: none;{% endif %}">
                                      {{ attribute(data.content_fck, lang_id) }}
                                  </div>
                              {% endfor %}
                          </div>
                        </div>
                      </div>
                      <script>
                          $(function(){
                              $('#info_lang').find('li a').bind('click', function(){
                                  var lang_id = $(this).data('id');
                                  $('#info_lang').find('li').removeClass('active');
                                  $('#info_content').find('.info_content').hide();
                                  $('#info_lang_'+lang_id).addClass('active');
                                  $('#info_content_'+lang_id).show();
                                  return false;
                              });
                          });
                      </script>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                            <button type="submit" name="btn_save" class="btn btn-success" value="1">
                                {% helper lang.l('btn_save', 'start') %}</button>
                            <a class="btn btn-default cancel" href="{{ site_url }}admin/content/index/{{ current_lang }}">
                                {% helper lang.l('btn_cancel','start') %}
                            </a>
                        </div>
                        <div class='clearfix'></div>
                    </div>
                </form>
            </div>

        {% elseif section_gid == 'seo' %}
            {% helper is_installed = utils.depends('seo_advanced') %}
            {% if is_installed['seo_advanced'] %}
                {% for key, section in seo_fields %}
                    <form method="post" action="{{ data.action|escape }}" name="seo_{{ section.gid }}_form"
                          enctype="multipart/form-data" class="form-horizontal form-label-left">
                        <div class="x_title">
                            <h2>
                                {{ section.name }}
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% if section.tooltip %}
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">&nbsp;</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">{{ section.tooltip }}</div>
                                </div>
                            {% endif %}
                            {% for field in section.fields %}
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.name }}: </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        {% set field_gid = field.gid %}

                                        {% if field.type == 'checkbox' %}
                                            <input type="hidden" name="{{ section.gid }}[{{ field_gid }}]" value="0">
                                            <input type="checkbox" name="{{ section.gid }}[{{ field_gid }}]" value="1"
                                                   {% if seo_settings[field_gid] %}checked{% endif %}
                                                   class="flat">

                                        {% elseif field.type == 'text' %}
                                            {% for lang_id, lang_item in languages %}
                                                {% set section_gid = section.gid ~ '_' ~ lang_id %}
                                                <input type="{% if lang_id == current_lang_id %}text{% else %}hidden{% endif %}"
                                                       name="{{ section.gid }}[{{ field_gid }}][{{ lang_id }}]"
                                                       value="{{ seo_settings[section_gid][field_gid]|escape }}"
                                                       lang-editor="value" lang-editor-type="{{ section.gid }}_{{ field_gid }}"
                                                       lang-editor-lid="{{ lang_id }}"
                                                       class="form-control" >
                                            {% endfor %}
                                            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel">
                                                    <a class="panel-heading" role="tab" id="heading{{ field_gid }}" data-toggle="collapse"
                                                       data-parent="#accordion" href="#collapse{{ field_gid }}" aria-expanded="false"
                                                       aria-controls="collapse{{ field_gid }}">
                                                        <h4 class="panel-title">{% helper lang.l('others_languages', 'start') %}</h4>
                                                    </a>
                                                    <div id="collapse{{ field_gid }}" class="panel-collapse collapse" role="tabpanel"
                                                         aria-labelledby="heading{{ field_gid }}">
                                                        <div class="panel-body">
                                                            {% for lang_id, item in languages %}
                                                                {% if lang_id != current_lang_id %}
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                                            {{ item.name }}
                                                                        </label>
                                                                        <div class="col-md-10 col-sm-10 col-xs-12">

                                                                            <input type="text" name="langs[{{ lang_id }}]" class="form-control"
                                                                                   value="{% if validate_lang %}
                                                                                            {{ attribute(validate_lang, lang_id) }}
                                                                                          {% else %}{{ data.name }}{% endif %}">
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% elseif field.type == 'textarea' %}
                                            {% for lang_id, lang_item in languages %}
                                                {% set section_gid = section.gid ~ '_' ~ lang_id %}
                                                {% if lang_id == current_lang_id %}
                                                    <textarea name="{{ section.gid }}[{{ field_gid }}][{{ lang_id }}]"
                                                              rows="2" cols="80" class="form-control" lang-editor="value"
                                                              lang-editor-type="{{ section.gid }}_{{ field_gid }}"
                                                              lang-editor-lid="{{ lang_id }}">{% spaceless %}{#!Not edit#}
                                                        {{ seo_settings[section_gid][field_gid]|escape }}
                                                    {% endspaceless %}</textarea>
                                                {% else %}
                                                    <input type="hidden" name="{{ section.gid }}[{{ field_gid }}][{{ lang_id }}]"
                                                           value="{{ seo_settings[section_gid][field_gid]|escape }}"
                                                           lang-editor="value"
                                                           lang-editor-type="{{ section.gid }}_{{ field_gid }}"
                                                           lang-editor-lid="{{ lang_id }}">
                                                {% endif %}
                                            {% endfor %}

                                            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel">
                                                    <a class="panel-heading" role="tab" id="heading{{ field_gid }}" data-toggle="collapse"
                                                       data-parent="#accordion" href="#collapse{{ field_gid }}"
                                                       aria-expanded="false" aria-controls="collapse{{ field_gid }}">
                                                        <h4 class="panel-title">{% helper lang.l('others_languages', 'start') %}</h4>
                                                    </a>
                                                    <div id="collapse{{ field_gid }}" class="panel-collapse collapse" role="tabpanel"
                                                         aria-labelledby="heading{{ field_gid }}">
                                                        <div class="panel-body">
                                                            {% for lang_id, item in languages %}
                                                                {% if lang_id != current_lang_id %}
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                                            {{ item.name }}
                                                                        </label>
                                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                                            <!-- <input type="text"> или <textarea> -->
                                                                            <textarea name="langs[{{ lang_id }}]"
                                                                                      class="form-control" rows="2">{% spaceless %}{#!Not edit#}
                                                                                {% if validate_lang %}
                                                                                    {{ attribute(validate_lang, lang_id) }}
                                                                                {% else %}
                                                                                    {{ data.name }}
                                                                                {% endif %}
                                                                            {% endspaceless %}</textarea>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ field.tooltip }}

                                    </div>
                                </div>
                            {% endfor %}

                            {#  <!-- awaiting the finalization -->
                            <br>
                            <div class="menu-level3">
                                <ul id="info_lang">
                                    {% for lang_id, item in languages %}
                                        <li{% if lang_id == current_lang %} class="active"{% endif %}
                                           id="info_lang_{{ lang_id }}">
                                            <div class="l"
                                                <a href="{{ site_url }}admin/content/edit/{{ lang_id }}/{{ data.id }}"
                                               data-id="{{ lang_id }}">
                                                    {{ item.name }}
                                                </a>
                                            </div>
                                        </li>
                                            {% endfor %}
                                </ul>
                            </div>
                            <div class="form-group">
                                <div class="row header">{% helper lang.l('field_content', 'content') %}</div>
                                <div class="row" id="info_content">
                                    {% for lang_id, lang_item in languages %}
                                        <div id="info_content_{{ lang_id }}" class="info_content {% if lang_id != current_lang %}hide{% endif %}">
                                            {{ data.content_fck[lang_id] }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            #}

                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                    <input type="submit" name="btn_save_{{ section.gid }}"  class="btn btn-success"
                                            value="{% helper lang.l('btn_save','start','','button') %}">
                                    <a class="btn btn-default cancel" href="{{ site_url }}admin/content/index/{{ current_lang }}">
                                        {% helper lang.l('btn_cancel','start') %}
                                    </a>
                                </div>
                                <div class='clearfix'></div>
                            </div>
                            <input type="hidden" name="btn_save" value="1">
                        </div>
                    </form>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</div>

{% include '@app/footer.twig' %}
