{% if not geomap_js_loaded and not only_load_content %}
	<link href="{{ site_root }}application/modules/geomap/views/default/css/yandexv2.css"
          rel="stylesheet" type="text/css" />
	<script>
		$(function() {
			loadScripts(
				[
					"{% helper utils.jscript('geomap', 'yandexmapsv2.js', 'path') %}",
					"http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU"
				],
				function(){
					ymaps.ready(map_loader);
				},
				'{{ map_id }}',
				{crossDomain: true}
			);
		});
	</script>
{% else %}
	<script>
        $(function(){
            map_loader();
        });
    </script>
{% endif %}
<script>
    map_loader = new Function();
</script>

{% if not only_load_scripts %}
	{% if not map_id %}
        {% set map_id = 'map_' ~ rand %}
    {% endif %}
	<div id="{{ map_id }}" class="{{ view_settings.class }} map_container">&nbsp;
        {% helper lang.l('loading', 'geomap') %}
    </div>
	{% if view_settings.use_router %}
		<div id="routes_{{ rand }}" class="routes">
        </div>
		<div id="route_links_{{ rand }}">
			<a href="javascript:void(0);" id="add_route_btn_{{ rand }}">
                {% helper lang.l('route_add', 'geomap') %}
            </a>
			<a href="javascript:void(0);" id="remove_route_btn_{{ rand }}" class="hide">
                {% helper lang.l('route_delete', 'geomap') %}
            </a>
		</div>
	{% endif %}
	<script>
		var {{ map_id }};
		map_loader = function() {
			var settings = {{ settings|json_encode() }};
			var view_settings = {{ view_settings|json_encode() }};
			var map_id = '{{ map_id }}';
			var rand = '{{ rand }}';
			var markers = {{ markers|json_encode() }};
			var map_properties = {
				map_container: map_id,
				default_zoom: settings.zoom,
				width: view_settings.width,
				height: view_settings.height,
				lat: settings.lat,
				lon: settings.lon
			};

            if (settings.view_type) {
                map_properties.default_map_type = settings.view_type;
            }

			if (settings.media && settings.media.icon) {
                map_properties.icon = settings.media.icon.thumbs.small;
            }

            if (!view_settings.disable_smart_zoom && settings.use_smart_zoom == true) {
                map_properties.use_smart_zoom = true;
            }

			if (settings.use_searchbox == true) {
                map_properties.use_searchbox = true;
            }

            if (view_settings.zoom_listener) {
                map_properties.zoom_listener =
                    {% if view_settings.zoom_listener %}
                        {{ view_settings.zoom_listener }}
                    {% else %}
                        ''
                    {% endif %};
            }

			if (view_settings.type_listener) {
                map_properties.type_listener =
                    {% if view_settings.type_listener %}
                        {{ view_settings.type_listener }}
                    {% else %}
                        ''
                    {% endif %};
            }

			if (view_settings.geocode_listener) {
                map_properties.geocode_listener =
                    {% if view_settings.geocode_listener %}
                        {{ view_settings.geocode_listener }}
                    {% else %}
                        ''
                    {% endif %};
            }

            if (settings.use_type_selector == true) {
                map_properties.use_type_selector = true;
            }

			if (settings.use_router == true) {
				map_properties.use_router = true;
				map_properties.routes_container = 'routes_' + rand;
			}

			if (settings.use_tools == true) {
                map_properties.use_tools = true;
            }

			if (settings.use_clusterer == true) {
                map_properties.use_clusterer = true;
            }

			if (settings.use_click_zoom == true) {
                map_properties.use_click_zoom = true;
            }

			window[map_id] = new YandexMapsv2(map_properties);

			if (settings.use_router) {
				$('#add_route_btn_'+rand).bind('click', function(){
					$('#add_route_btn_'+rand).hide();
					$('#remove_route_btn_'+rand).show();
					window[map_id].createRoute();
				});

				$('#remove_route_btn_'+rand).bind('click', function(){
					$('#remove_route_btn_'+rand).hide();
					$('#add_route_btn_'+rand).show();
					window[map_id].deleteRoute();
				});
			}

			if (markers && typeof markers === 'object') {
				var markers_properties;
				for (var i in markers) {
					markers_properties = {};

                    if (markers[i].gid) {
                        markers_properties.gid = markers[i].gid;
                    }

                    if (markers[i].dragging) {
						markers_properties.draggable = true;
						if (view_settings.drag_listener) {
                            markers_properties.drag_listener = view_settings.drag_listener;
                        }
					}

                    if (markers[i].info) {
                        markers_properties.info = markers[i].info;
                    }

					window[map_id].addMarker(markers[i].lat, markers[i].lon, markers_properties);
				}
			}
		};
	</script>
{% endif %}
