{% spaceless %}
    <div class="form-group">
        {% if data.upload_gid == 'gallery_audio' %}
            <audio src="{{ data.media.mediafile.file_url }}" controls style="max-width: 100%;"></audio>
            {% elseif data.media %}
            <a href="{{ data.media.mediafile.file_url }}" target="_blank">
                <img src="{{ data.media.mediafile.thumbs.big }}" class="img-responsive" /></a>
            {% endif %}
            {% if data.video_content %}
            <span id="video{{ data.id }}">
                <img class="pointer img-responsive" src="{{ data.video_content.thumbs.big }}" />
            </span>
            <div id="video{{ data.id}}-content" class="hide">
                {{ data.video_content.embed }}
            </div>
            <script>
                            $(function () {
                                $('#video{{ data.id }}').bind('click', function (e) {
                                    e.preventDefault();
                                    var vpreview = new loadingContent({'closeBtnClass': 'w'});
                                    vpreview.show_load_block($('#video{{ data.id }}-content').html());
                                })
                            });
            </script>
        {% endif %}
        <br>
        <label>{% helper lang.l('field_name', 'media') %}:</label> {{ data.fname }}<br>
        <label>{% helper lang.l('media_owner', 'media') %}:</label>&nbsp;
        <a href="{{ site_url }}admin/users/edit/personal/{{ data.owner_info.id }}" target="_blank" >{{ data.owner_info.output_name }}</a><br>
    </div>
    <div class="form-group {% if template == 'dashboard' %}hide{% endif %}">
        <b>{% helper lang.l('field_permitted_for', 'media') %}</b>:
        {% helper lang.ld_option('permissions', 'media', data.permissions) %}
    </div>

{% endspaceless %}
