{% spaceless %}
    <div>
        {% helper date_format.tpl_date_format(event.date_update, date_format) %}
    </div>
    <div class="ptb5">
        {% if event.event_type_gid == 'image_upload' %}
            {% helper lang.l('uploads_new_photos', 'media') %}
        {% elseif event.event_type_gid == 'video_upload' %}
            {% helper lang.l('uploads_new_videos', 'media') %}
        {% elseif event.event_type_gid == 'audio_upload' %}
            {% helper lang.l('uploads_new_audios', 'media') %}
        {% endif %} ({{ event.media_count_all }})</div>
    <div class="user-gallery medium">
        {% for key, edata in event.data %}
            <div class="item">
                <div class="user">
                    <div class="photo">
                        <span class="a spam_content" data-click="view-media"
                              data-user-id="{{ edata.id_owner }}" data-id-media="{{ edata.id }}">
                            {% if edata.video_content %}
                                {{ edata.video_content.embed }}<br/>
                            {% else %}
                                {% if edata.media %}
                                    <a href="{{ edata.media.mediafile.file_url }}" target="_blank">
                                        <img src="{{ edata.media.mediafile.thumbs.hgreat }}" />
                                    </a>
                                {% elseif edata.video_content %}
                                    <img src="{{ edata.video_content.thumbs.big }}" />
                                {% endif %}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endspaceless %}
